[2015-12-05 06:00] kop opened #4 "Do not hardcode MySQL host"
It should be possible to set MySQL host via an environment variable.

In some container engines (for example [Kubernetes](http://kubernetes.io/)), there are no concept of link aliases, so a user will have to change his service name (if it's not `db`) in order to make it work with this Docker image.

[2015-12-07 13:39] #4 closed

[2015-12-08 12:35] mc388 opened #7 "Multiple mysql servers"
I want to link more than one mysql container into phpmyadmin and this is not working.

It only works when I link only one container and named it `db`

[2015-12-08 13:08] mc388 commented on #7
Fixed it by overwriting the `config.inc.linked.php` file link [here](http://tecadmin.net/add-multiple-hosts-in-phpmyadmin/)

[2015-12-08 15:27] nijel commented on #7
I think it makes sense to support this scenario directly as well...

[2015-12-09 14:20] Soullivaneuh opened #8 "Permit config authentication"
Generally on dev env, user is root with a simple password or none.

Would be great to be able to set a `USER_LOGIN` and optionally `USER_PASSWORD` env var that will change configuration from `cookie` to `config`.

[2015-12-14 12:45] #8 closed

[2015-12-14 13:01] #7 closed

[2015-12-15 09:01] Soullivaneuh opened #10 "Environement not working with docker-compose"
With the following `docker-compose.yml` file:

[code]

If I dump the `$_ENV` variable from `config.inc.php`, I get an empty array.

Did I something wrong?

[2015-12-15 09:43] #10 closed

[2015-12-15 09:52] nijel commented on #10
Indeed it happens wit some PHP versions, I've adjusted the code to handle this as well.

[2015-12-28 20:37] fsateler opened #12 "Login redirects to port-qualified url"
Thus breaking if running behind a reverse proxy.

When logging in, the server answers with a 302 and `Location: https://<server>:8080/index.php?token=<token>`, even though `<server>` was accessed via port 80.

[2016-01-08 23:34] lorenz commented on #12
+1

[2016-01-09 10:07] #12 closed

[2016-01-13 10:13] wdch-nseeley opened #15 "Version Tags"
Any chance of taging versions on docker hub?

I was trying to use that new feature (#13, #12 PmaAbsoluteUri) and couldn't understand why it wasn't working. Turns out this feature is incredibly new and not part of my 7 day old image. Ugh!

But anyways, I'm glad its implemented.  :)

[2016-01-13 12:49] nijel commented on #15
Not sure how to do that ... Docker hub builds every commit, it's all automated.

[2016-01-13 13:19] nijel commented on #15
Added first tag and I will try to remember pushing tags now.

[2016-01-13 13:19] #15 closed

[2016-02-06 09:54] RickWieman opened #18 "Use port 80 instead of port 8080"
Just a thought: wouldn't it make sense to expose port 80 instead of port 8080? A user can always map any exposed ports to whatever he likes, e.g. `-p 8080:80`, and as this is in fact a Docker container running a web application, doesn't it sound logical to use the http port for that? Or were there practical considerations for using port 8080 instead?

If you agree, I'm willing to open a PR, but le

[2016-02-08 08:28] nijel commented on #18
Probably there was not much thinking behind this. So if you think breaking compatibility is not an issue, feel free to open PR.

[2016-02-08 08:45] RickWieman commented on #18
Naturally, everyone using this container should change their port mapping (e.g. when used in automated deployment, compose, or whatever) once after that PR. Do you think that's too much of an issue, or can we consider that as a one-time inconvenience?

[2016-02-08 08:58] nijel commented on #18
I'm not really sure, I don't use Docker for anything important so it would be minor hassle for me. But I think it's reasonable change.

[2016-02-08 10:06] #18 closed

[2016-02-09 12:52] gggeek opened #20 "Image does not shutdown gracefully"
When shutting down the image, docker first sends a SIGTERM to the process used as ENTRYPOINT, then after 10 secs a SIGKILL.

The phpmyadmin image ignores the first signal.

Even though there is no probable data loss at stake, it would be nicer if the image stopped immediately, saving 10 secs of wait on every docker stop.

Two ways to do that come to my mind:
a- catch the signal in run.sh (but this

[2016-02-09 15:37] nijel commented on #20
Maybe it would be better to replace php's builtin server with something better? I was thinking about using php-fpm and nginx...

[2016-02-09 15:51] gggeek commented on #20
@nijel possibly, but that would mean a fair amount of work...

[2016-02-09 15:56] nijel commented on #20
I know, but workarounding the problem as you've described doesn't sound as a perfect solution as well. Also there are dozen of docker containers using ``php -S``....

[2016-02-13 15:54] port22 opened #21 "problem with reverse proxy when using https://domain/phpmyadmin"
Hi all,
I am trying to serve this phpmyadmin docker image via nginx upstream.
It is working with :
[code]
But not working with:
[code]

php just returns it can't find the index.php (or any other files). Any ideas? :-)

[2016-02-13 16:23] port22 commented on #21
aah got it, sorry for spamming, but if someone needs it, was an nginx configuration issue - here's how it works:

[code]

[2016-02-13 16:23] #21 closed

[2016-03-24 12:53] tommyJS opened #23 "I cannot login to PMA - Error #2002 - php_network_getaddresses: getaddrinfo failed"
I do not know what might be the case, but I cannot login to PMA. I have the following `docker-composer.yml` file:
[code]
I tried to log in to PMA using `root` account and the given password: `blabla`.
I receive the following error:
[code]
Something wrong with my setup?

[2016-03-25 07:30] nijel commented on #23
Maybe some issue with Docker DNS setup? Please check https://github.com/docker/docker/issues/14755

[2016-04-07 18:41] AlainLaroche commented on #23
+1
I have the same mysql server name resolution problem since the mysql container is run with a volume to locate data on the host:
`docker run --name mysqlserver -v /host/dir:/var/lib/mysql -e MYSQL_ROOT_PASSWORD=my-secret-pw -d mysql:latest`
and PMA:
`docker run --name myadmin -d --link mysqlserver -p 8080:80 phpmyadmin/phpmyadmin`

Temporary solved by adding PMA_HOST environment variable:
`docke

[2016-04-08 06:49] nijel commented on #23
Has anything changed recently in Docker in this regard? In past nobody has complained about this and I'm pretty sure nothing has been changed on our side...

[2016-04-08 22:09] AlainLaroche commented on #23
I'm new to Docker, I cannot say how it was even 2 weeks ago :)
Facts that I can report:
- PMA container with MySQL container without volume are working properly
- others containers like PHP or Webmin with MySQL container with volume are also OK
- PMA container with MySQL container with volume has name resolution problem

[2016-04-10 19:50] RaphanW commented on #23
I encountered this error as well using docker-compose, wordpress, and phpmyadmin (see [this guide](https://www.digitalocean.com/community/tutorials/how-to-install-wordpress-and-phpmyadmin-with-docker-compose-on-ubuntu-14-04)).

`#2002 - php_network_getaddresses: getaddrinfo failed: Name does not resolve — The server is not responding (or the local server's socket is not correctly configured).`

Is

[2016-04-12 10:30] JimyRyan commented on #23
It's the same for me on Docker Cloud. Below is an extract of my Stack config :

pma:
  image: 'phpmyadmin/phpmyadmin:latest'
  environment:
    - PHP_UPLOAD_MAX_FILESIZE=100M
  links:
    - 'mariadb:db'
  ports:
    - '8080:80'

[2016-04-14 19:14] personalaccount commented on #23
@JimyRyan is correct to use db instead of mysql. After adding the changes to a yml file, it is also a good idea to remove the existing container (not the image!), after stopping composer.
`~$ docker-compose stop`
`~$ docker-compose rm phpmyadmin`

docker-composer.yml should look similar to this:

[code]

[2016-04-19 23:24] kop opened #27 "Add Kubernetes support"
It is currently not possible to use this image with Kubernetes because of known bug in `alpine` image.
It would be great to have an additional tag, suffixed with `-k8s`, that will use [janeczku/alpine-kubernetes](https://hub.docker.com/r/janeczku/alpine-kubernetes/) as a base image.

[2016-04-19 23:27] kop opened #28 "Add ability to connect via MySQL socket instead of TCP"
In some setups, MySQL is not available via TCP and only listens via socket. It would be great to have an ability to set MySQL socket instead of hostname.

[2016-04-20 06:17] nijel commented on #27
Reading what it does, it might fix https://github.com/phpmyadmin/docker/issues/23 as well...

[2016-04-20 06:18] nijel commented on #28
You mean running MySQL in same docker container like phpMyAdmin? I don't think sockets can work across containers....

[2016-04-20 06:27] nijel commented on #27
Also it seems to be fixed in alpine as well: https://twitter.com/thockin/status/704909611279781888

[2016-04-20 06:33] #23 closed

[2016-04-20 06:33] #27 closed

[2016-04-20 06:44] nijel commented on #28
It's not possible to share sockets, see http://serverfault.com/a/588720/28295. And I really don't see point in running MySQL inside phpMyAdmin container listening on socket.

[2016-04-20 06:44] #28 closed

[2016-04-21 10:33] 23tux opened #29 "Lock Table problem with phpmyadmin"
I just tried to import a dump that uses lock table, and it throws

`#1100 - Table 'pma_column_info' was not locked with LOCK TABLES `

I found the answer here http://stackoverflow.com/questions/18215379/importing-sql-file-using-phpmyadmin-in-easyphp. Seems like you have to insert

[code]

inside the loop for every server. I just tried it out and it works.
I'm not sure if this is really a problem,

[2016-04-21 10:52] nijel commented on #29
This is more likely issue in phpMyAdmin itself, can you please report it to https://github.com/phpmyadmin/phpmyadmin/issues?

[2016-04-27 07:58] nijel commented on #29
Moved to https://github.com/phpmyadmin/phpmyadmin/issues/12219.

[2016-04-27 07:58] #29 closed

[2016-05-20 08:46] rhcarvalho commented on #18
Hey, just wanted to give some feedback as I was trying to use this image with OpenShift.

Dan Walsh explains how containers don't contain:
https://youtu.be/kvoxC_iql9g?t=917

It's generally a bad idea to run containers as root, and therefore 8080 and being able to run as an arbitrary unprivileged user is better than running on port 80.

Some more written tips here:

http://www.projectatomic.io/doc

[2016-05-23 08:01] nijel commented on #18
Looking at some other web apps, they seem to use 80 as well:

* https://hub.docker.com/_/drupal/
* https://hub.docker.com/_/wordpress/
* https://hub.docker.com/_/joomla/

So this really seems to be common practice these days.

[2016-05-23 08:32] rhcarvalho commented on #18
@nijel I acknowledge you'll find that in DockerHub, rather more frequently than not. Doesn't mean that's the best idea from a security stand point :-)

I attempted to provide "practical considerations" to the question from @RickWieman.

While there's no benefit in running on port 80 vs. any other port, listing on :80 requires root privilege, which prevents users of the image to run as non-root, wo

[2016-05-23 08:40] nijel commented on #18
There is a benefit - you can access it directly in browser without need to specify the port.

However I'm not really docker user, so I have no clue what is best solution. On the other side I don't want to change ports there and back several times, so I'd really like to see some kind of consensus before doing another change. And that consensus currently seems to be using port 80.

[2016-05-24 14:06] brandontamm opened #30 "Docker PHPmyadmin Access?"
I've got a project that sets phpmyadmin up in docker-compose using the following configuration:

phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: "mysql"
      PMA_PORT: 3306

I need to import sql but I'm not sure how to access either via command line, browser, or sequel pro (where do I find the credentials to use?)
ssh host-?
ssh user-?
ss

[2016-05-25 08:56] nijel commented on #30
You can access it by web. If you want direct access to the database, rather check the mysql container...

[2016-05-27 11:32] titpetric opened #31 "Build on docker hub is failing"
https://hub.docker.com/r/phpmyadmin/phpmyadmin/builds/

[2016-05-27 11:43] nijel commented on #31
It's probably due to some alpine edge error. We have to use edge version due to several problems in 3.3 (see #23, #27, 6dd6b90902e4a124ce20e93f3b456f23b30855d1, 249e10deccb76e282eda0271ef17a7bd8c47696a).

[2016-05-27 11:44] nijel commented on #31
See also http://bugs.alpinelinux.org/issues/5601

[2016-05-27 11:49] titpetric commented on #31
Consider making separate builds against debian/jessie or others. I'm fine with using tags for specific versions against different source images. I could submit a PR next week if you'd like.

[2016-05-27 11:51] nijel commented on #31
We originally based on debian, but the image size is really big with it...

[2016-05-27 11:52] nijel commented on #31
Anyway it seems they have just renamed php packages in alpine, I'm trying to rebuild it now...

[2016-05-27 11:54] nijel commented on #31
Okay, that was all what was needed, fixed in 15ca16c.

[2016-05-27 11:54] #31 closed

[2016-06-06 01:19] DavidMaza opened #32 "Frequently losing session"
I have a fairly vanilla version of the phpMyAdmin docker container yet after I login, I keep losing the session and are taken back to the login screen. Sometimes it'll happen after a few seconds, sometimes after a minute or two.

I've tried clearing all the cookies in my browser, tried multiple computers and multiple browsers without much luck.

Below is the Docker command being used to start the

[2016-06-06 08:00] nijel commented on #32
Can you see if the container is restarted when you loose the session?

See also https://github.com/phpmyadmin/phpmyadmin/issues/12251

[2016-06-06 08:04] DavidMaza commented on #32
The container remains running

[code]

[2016-06-06 08:21] nijel commented on #32
Can you try updating to latest image? I've made changes in way how sessions are stored and they are now stored in separate volume, what should limit such problems...

[2016-06-06 23:56] DavidMaza commented on #32
I had a play around with it. I think it's fixed.

Thanks for fixing it so quickly!

[2016-06-09 22:26] abeMedia opened #33 "Install zip & bz2"
Would be great if zip & bz2 were enabled by default in the image. I think it's pretty common to import zipped SQL files.

[2016-06-09 22:44] mathos commented on #32
I think the issue is still there, Hence David's  "play around," is that I think instead of `-d session.save-path=/sessions` it should be `-d session.save_path=/sessions` with an underscore. Mine's still saving in the `/tmp` directory and still losing the sessions.

[2016-06-09 23:06] mathos commented on #20
I would certainly "+1" the idea of at least starting up of php-fpm vs just straight php (at the very least it allows you to reload your php.ini and seems to make php a bit more peppy).  However, the issue is more about killing and reaping -- no, you can put down the scythe, not that kind of reaping -- there is an often over-looked issue with docker containers and making sure they not only stop the

[2016-06-10 10:34] #33 closed

[2016-06-10 10:40] nijel commented on #20
I really think there should be some standard PHP container which does all things properly and where man could just include the web application to run. It doesn't make much sense to reinvent this for every PHP based application...

[2016-06-10 11:25] gggeek commented on #20
php-fpm + nginx containers I already have, and should be able to propose one.
Would you like the container to terminate when php-fpm ends?

[2016-06-10 11:30] nijel commented on #20
I have no clue :-). I maintain this, but my Docker experience is almost zero, so I'm really open to suggestions what is best approach...

[2016-06-13 14:37] jmkgreen commented on #32
We have now updated to the latest 4.6.2 with `-d session.save_path=/sessions` in effect within the container.

We are still experiencing the problem :(

[2016-06-14 12:04] nijel commented on #32
Do you see session files in the sessions volume?

[2016-06-14 13:20] ssteinerx opened #34 "Any reason not to update this to use PHP 7?"
I'm using PHP 7 everywhere now and am curious if there's a reason not to update this package.

Thanks,

S

[2016-06-14 13:32] ssteinerx opened #35 "Alpine 3.4 is out, per note in Dockerfile, should use 'latest' or '3.4' instead of edge"
There's a note in the Dockerfile to update to Alpine 3.4 when released, it's released.

[2016-06-14 13:38] nijel commented on #34
Last time I checked PHP 7 was not included in alpine linux, that's why there is php 5 still :-)

[2016-06-14 13:39] nijel commented on #35
Fixed by #36

[2016-06-14 13:39] #35 closed

[2016-06-14 13:42] #30 closed

[2016-06-14 13:47] nijel commented on #34
Okay, it's still not there, it's just in edge and I don't think it's worth using edge because of this...

[2016-06-14 15:35] ssteinerx commented on #34
Agreed, let's just wait for 3.5, then for this image.  I'll fold it into my php7 for the moment, no real need for a separate image with a duplicate PHP setup.

[2016-06-15 00:04] ssteinerx commented on #20
@gggeek If you know how to do this, please make a pull request and I'll test and review.  Having this have to time out on a shutdown request is silly and time consuming every iteration...

[2016-06-15 10:15] jmkgreen commented on #32
[code]

Pretty good evidence there.

[2016-06-16 08:48] nijel commented on #32
It might be different issue in your case then. There is similar question on StackOverflow as well: http://stackoverflow.com/q/37682465/225718

[2016-06-25 16:20] pyros2097 opened #37 "Add Themes"
How do you add themes to this image? Is the best possible way to create my own image from this or would it be good to have all the themes preloaded with this image? I don't know if it will take too much space though?

[2016-06-30 07:21] roelvanduijnhoven opened #38 "Cannot change configuration options"
I would like to change some other configuration values that are *not* settable via environment variables (`FirstLevelNavigationItems` in this case). However it seems there is no way to do this at the moment.

A good way to implement this would be via volume mapping. My proposal would be to:

1. Add a `include '/config.inc.php';`  as a last line to `config.inc.php` in this repo.

2. Make the `Docke

[2016-06-30 07:30] nijel commented on #38
Sounds like a good idea.

[2016-06-30 07:42] nijel commented on #37
I'm not really sure if increasing size of the image is the way to go...

[2016-07-01 10:35] PavelPrischepa opened #39 "MySQL connection error in 4.6.2-3"
I've found an issue in 4.6.2-3. The issue appears when I'm trying to expand a table info in the sidebar.
There is no such error in the latest version. Can you build new tagged version based on the latest one?

[2016-07-01 20:10] nijel commented on #39
Added tag for new version.

[2016-07-01 20:10] #39 closed

[2016-07-02 21:34] port22 opened #40 "PMA_ABSOLUTE_URI not working anymore"
I used to reverse-proxy phpmyadmin-docker via nginx-docker-proxy and have it in a sub-URL like https://mydomain.com/phpmyadmin/

Now that PMA_ABSOLUTE_URI has obviously been obsoleted, what now?

[2016-07-04 15:44] j-vizcaino commented on #20
Any update on this?
One simple around this would be to install `tini` and launch php using it.
`tini` acts as a simple process reaper and is available in the alpine 3.4 community.

[2016-07-06 09:17] pyros2097 commented on #37
What I saw was the image size is going to increase about 26mb if you add all the themes will that be an issue right now its 56mb

[2016-07-06 13:32] pyros2097 commented on #37
I guess it doesn't matter now.. Most of those themes are outdated and only the metro theme seems good so I made my owm image with that theme...

[2016-07-07 21:26] cracker0dks commented on #40
same problem here. tany solution yet ?

[2016-07-07 21:30] port22 commented on #40
no ... but :4.6.2-3  is working

[2016-07-07 21:38] cracker0dks commented on #40
mmm I got the same problem with 4.6.2-3: http://93.104.214.117/phpmyadmin

ngnix:
[code]

I also checked the config.inc.php inside the container and found no $cfg['PmaAbsoluteUri']

[2016-07-07 21:55] port22 commented on #40
mhmm, I'll just post my config, maybe it helps you:

```docker run -e PMA_ABSOLUTE_URI="https://mydomain.com/phpmyadmin/" phpmyadmin/phpmyadmin:4.6.2-3```

[code]
actually I'm not sure if proxy_redirect could be omitted, but seems the only difference.

I am using the default config from jwilder/nginx-proxy. Not sure if
[code]

[2016-07-07 22:05] cracker0dks commented on #40
WOW nice! I think I missed a / at some point thank you :)

[2016-07-07 22:13] cracker0dks commented on #40
ok now I tested and it with the working settings for :4.6.2-3and it worked with the :latest build as well! can you give it a try ?

[2016-07-07 22:17] port22 commented on #40
tested, well, not really working. The Login page has <form action="index.php"> so it will trigger /index.php instead of /phpmyadmin/index.php
If I manually change the url after login, I'm in.

tested on chrome and firefox ingognito, no cache prob.

[2016-07-07 22:20] cracker0dks commented on #40
yeah you are right. If you are logged in this is no prob. Login and logout are broken

[2016-07-07 22:21] port22 commented on #40
yarp. PMA_ABSOLUTE_URI must be integrated again.

[2016-07-07 22:27] cracker0dks commented on #40
according to this: https://github.com/phpmyadmin/docker/commit/812590e038631e4b32c6af7f289e045e4db1b1b3
its no longer needed -.-

[2016-07-08 08:02] marcelboettcher commented on #38
nice, need this as well for the nasty timeout

[2016-07-08 13:41] nijel commented on #37
Indeed it is the only up to date theme right now. I think it's better to keep Docker image close to upstream in this. Maybe it's better to decide which themes to ship with phpMyAdmin 4.7, I've created issue for that: https://github.com/phpmyadmin/phpmyadmin/issues/12373

[2016-07-08 13:44] nijel commented on #40
It was removed from Docker as it's no longer supported upstream, ``$cfg['PmaAbsoluteUri']`` has been removed. If you want it back, please open issue at https://github.com/phpmyadmin/phpmyadmin/issues

[2016-07-08 13:57] cracker0dks commented on #40
ok thank you. I opend one https://github.com/phpmyadmin/phpmyadmin/issues/12374 :)

[2016-07-11 07:24] Illydth commented on #38
This would enable PMA DB / Configuration Storage as well.  This should be a mandatory thing and I just went through the process to get it working on my system.

I would recommend, however, that you DO NOT override config.inc.php.  Instead a user hook should be installed as the last line in the current config.inc.php:

include('config.userdef.inc.php');

In this way, users could override / set any

[2016-07-11 07:34] marcelboettcher commented on #38
@Illydth sound great! I like that solution.

[2016-07-11 07:36] Illydth opened #41 "PMA DB/Configuration Storage Missing from Docker Container Capability"
As a follow-on to:
https://github.com/phpmyadmin/docker/issues/38

The docker configuration of PHPMYADMIN does not allow turning on of the PMADB / Configuration Storage settings for PHPMYADMIN, leaving it somewhat less functional than it's non-dockerized installation.  (This is among other non-configurable options).

This is easy to turn on without breaking or corrupting the current installation:

[2016-07-11 07:41] nijel commented on #41
This sounds good.

[2016-07-11 18:00] Illydth commented on #41
Pull Request #42 created to address this.  If you have issues, please let me know and I can update the pull request/code.

[2016-07-11 18:42] Illydth commented on #38
I've created pull request #42 to address this and Issue #41 as well.  This should be a catchall for updating any phpmyadmin config settings.

[2016-07-12 16:11] roelvanduijnhoven commented on #38
@Illydth This is exactly what I hoped for. Thanks for taking the time to implement this one.

[2016-07-15 23:12] ssteinerx commented on #20
I did some research and the way that the command is being invoked leads to signals not being passed through.

Using:

    CMD ["/run.sh"]

puts PHP at process id 1, so it receives signals, but it doesn't shut down nicely with:

    docker stop myadmin

I.E., the `php -S` command doesn't gracefully shutdown even when the signal gets there.

[Century Link Article](https://www.ctl.io/developers/blog/

[2016-07-18 12:22] nijel commented on #20
Indeed PHP's built in server is really more for testing than for production.

[2016-08-04 07:11] nijel opened #43 "Verify downloaded sources"
Currently we download the phpMyAdmin sources and do no verification of that download.

This could be improved by checking PGP signature on download. All needed pieces are there, it just needs to be properly glued together. The most tricky part is probably to avoid increasing size of the image.

* The PGP signature for latest release is on same URL, just append ```.asc```, see https://www.phpmyadmi

[2016-08-08 11:12] nijel commented on #43
1) I didn't checked how docker does it's own verification, but regarding the curl command itself it's make sense to supply a SHA validation to it, for example as done by wordpress in dockerfile:
https://github.com/docker-library/wordpress/blob/master/apache/Dockerfile#L28
it's provide defense against the scenarios I mentioned (as attacker need to change the checksum in dockerfile, and if he manage

[2016-08-08 11:47] #43 closed

[2016-08-08 11:49] nijel commented on #41
PR has been merged, though the path to the file has been changed to /config.user.inc.php, see https://docs.phpmyadmin.net/en/latest/setup.html#installing-using-docker

[2016-08-08 11:49] #41 closed

[2016-08-08 11:50] nijel commented on #38
It is now possible to override configuration in /config.user.inc.php, see https://docs.phpmyadmin.net/en/latest/setup.html#installing-using-docker

[2016-08-08 11:50] #38 closed

[2016-08-08 12:16] nijel commented on #43
Implemented by embedding the key in the image and verifying PGP signature after download, see https://github.com/phpmyadmin/docker/blob/master/Dockerfile#L10

[2016-08-14 13:00] bkuhl opened #47 "Unable to nagivate"
I'm operating this docker container and am running into all kinds of problems.  Among many other issues, none of these filtering options actually filter the current "Browse" selection.  The tab will reload and that's it.

<img width="842" alt="screen shot 2016-08-14 at 8 59 19 am" src="https://cloud.githubusercontent.com/assets/524933/17649233/79c3b03e-61fd-11e6-9638-49872ab7242f.png">

[2016-08-17 11:12] nijel commented on #47
What version do you use?

[2016-08-17 12:05] bkuhl commented on #47
`phpmyadmin/phpmyadmin:4.6.3-1`

The URL is http://my-site.org:8000 so hopefully the port isn't messing up the URLs or anything.  I also can't use the "Edit" functionality in this screenshot.

[2016-08-17 12:35] nijel commented on #47
It most likely is - it is another instance of #40.

[2016-08-17 12:35] #47 closed

[2016-08-17 13:43] #40 closed

[2016-08-18 09:14] cracker0dks commented on #40
thanks, but login/logout not working for me with this fix. I run it like this:

`docker run [...] -e PMA_ABSOLUTE_URI="https://mydomain.com/phpmyadmin/" -d --link mariadb:db phpmyadmin/phpmyadmin:latest`

If I login/logout it redirects me to "https://mydomain.com" without "/phpmyadmin"
If I add it to the url by hand after redirect it works till logout

working without problems:
 `... phpmyadmin/ph

[2016-08-18 09:36] nijel commented on #40
As I've mentioned within the commit message:

[2016-08-18 09:39] cracker0dks commented on #40
oh ok. thought it is closed and didnt read any commit msg :) :+1:

[2016-08-22 15:34] chrisburrell commented on #32
Hi

I'm having the same issues. Any ideas how to progress this? Should I raise a different task or re-open?

The one thing I notice is that Chrome says the path is / (which is accurate), but the 'expires / Max-AGe is in UTC, where we're in the UK. e.g. 2016-09-21T07:52:36.417Z. I'm assuming Chrome would deal with this, given the Z indicates UTC so the cookie has not expired?

Apart from that, I'm

[2016-08-22 20:12] nsymms commented on #32
Have the same problem here. It's very annoying and makes PMA unusable. After a few minutes of usage, all I get is the login screen. Incorrect passwords will give an error; correct password gives no error. Either way I'm back at the login screen. Sometimes refreshing the web page will get me another few seconds of usage.

I'm linking to a MariaDB container on the docker command line. PMA dockerized

[2016-08-23 06:11] nijel commented on #32
The timezones might be an issue, I have't looked how Docker does configure that. The browser will definitely handle UTC, but the question is whether the time is not already expiring....

[2016-08-24 07:19] chrisburrell commented on #32
I'll try this next - could this have something to do with using MariaDB?

[2016-08-24 07:53] jmkgreen commented on #32
@nijel docker doesn't know about time zones but the container's c standard library does (GNU libc on most distributions, musl for Alpine).

Most of our containers run with TZ=Europe/London which suffices.

I cannot imagine this would result in being logged out the moment I was successfully logged in (as has happened).

[2016-08-24 08:38] chrisburrell commented on #32
@nigel Just tried with the timezone set the London (that's where we are), just in case, and that doesn't work either. After a successful login, sometimes after a few seconds sometimes after a few minutes, we still get redirected to the home page. After that, it's hit and miss whether the login page lets you in at all.

Not sure where to go from there?

[2016-08-24 09:12] nijel commented on #32
If the timezone is wrongly set in the container, your session cookie would immediately expire, that's why I had this in mind.

What can happen:

* you loose session cookie (be it expiry, wrong path or something different)
* you loose session data on the server
* the session expires

Can you please check what is the case? On the failed request, please look if it contains `phpMyAdmin` cookie and if

[2016-08-24 15:39] nsymms commented on #32
I tried connecting from a machine with time & timezone set to UTC and it worked OK until the first timeout. So,

- Using Chrome or IE from Windows with CDT timezone usually works well until the first timeout. Then I'm stuck at the login screen forever. Clearing cookies / restarting browser sometimes helps, sometimes not. Restarting container and clearing cookies of course works again until first t

[2016-08-24 15:48] nijel commented on #32
Probably each of the cookies was set with different path? That could explain it as well as there is probably no order defined and you would randomly end up with valid or invalid session.

Can you check path set for these cookies in your browser? The next step would be to figure out what is setting them...

[2016-08-24 15:58] nsymms commented on #32
Yes. As suspected, I have 2 "phpMyAdmin" cookies. One is set for / and the other set for /js/.

[2016-08-24 16:10] nsymms commented on #32
The 2nd cookie with path set for /js/ gets set in a response from /js/whitelist.php.

However, we mustn't forget that deleting all cookies still doesn't resolve the issue. I can delete all cookies and I will still bounce back to login screen after 2-3 clicks navigating around PMA.

[2016-08-24 16:25] nijel commented on #32
Are you sure it's set /js/whitelist.php? It doesn't do that for me...

[2016-08-24 17:23] nsymms commented on #32
It doesn't happen every time. And just now I caught it getting set in /js/get_scripts.js. See attached clip from Fiddler.

![screenshot - 8_24_2016 12_21_29 pm](https://cloud.githubusercontent.com/assets/9939843/17940609/86b0890c-69f5-11e6-97f2-a1555a8554fb.png)

[2016-08-24 19:23] nsymms commented on #32
Ok so I deleted and restarted the container, deleted relevant Chrome cookies, and started over. I've been playing with this for a couple of hours and can now easily reproduce the issue. I haven't seen any /js/ cookies this time, so that may be a separate issue.

**Firstly, the workaround**: STAY AWAY from the SQL editors. Use the "Query" tab and put your queries in the window at the bottom. Do NOT

[2016-08-24 19:59] chrisburrell commented on #32
I can concur that I could browse all tables very easily and for a long time but then as soon as I use the SQL editor then I see the same issues. Happy to do more extensive testing on our instance if we need to?

[2016-08-25 07:42] nijel commented on #32
I've fixed the wrong path being issued by some files in js folder. Hopefully that will fully resolve this issue.

[2016-08-25 13:28] nsymms commented on #32
I've patched my container and this doesn't solve the issue for me. As I mentioned above, I still get logged out even though I haven't seen any cookies with the /js/ path for a while. I don't think the extra cookies are the problem.

So for anyone else who is still having session / logout problems and is looking for an answer, please see my workaround a few posts above. When I get more time I'll do

[2016-08-25 14:00] nijel commented on #32
Indeed, if I could reproduce this, it would be much easier to debug the problem ;-). Anyway reopening, as the issue is obviously still not fixed.

[2016-08-26 01:31] snadal commented on #32
Same here. I applied  @nijel patch on my container, but no luck.

If it helps, it is very quick to reproduce on our environment. Just launch a new docker container with the default parameters

[code]

After a few clicks (no more than 3-4 of them), you are sent to login screen again. MySQL Version is:

[code]

In our case, this happens even without opening SQL tab. Just some navigation among DB and

[2016-08-27 02:04] nsymms commented on #32
After many hours of debugging today, I have identified the problem. At least on my system. @snadal might have a different issue, but I get his same behavior whenever I don't clear the browser cookies. Just something to try. And apologies for the long post.

**The Problem:**
I've found that the PHP engine (on alpine ??) has some serious cookie memory problems. I'm not a PHP or cookie expert, but it

[2016-08-27 07:17] nijel commented on #32
Actually there is no reason to store SQL in cookies - it is not needed at all at server side. So I've changed the code to prefer browser local storage if available in ad51873. I'm not sure if it will be enough, but it definitely reduces pressure on the cookies.

As for the cookie problem, I'd say this is problem of PHP's built in web server...

[2016-08-27 11:26] nijel commented on #32
I've prepared move to proper web server + PHP FPM in https://github.com/phpmyadmin/docker/pull/48. This is still not yet fully ready, but probably could be used for testing if it makes things better...

[2016-08-27 13:12] nsymms commented on #32
Wow. Thanks for this. Your patch https://github.com/phpmyadmin/phpmyadmin/commit/ad5187383d35c1bace5f3e53afe1449848cbf93d appears to have solved it in my case. I've only hand-typed the patches and tested briefly so far today, but I will do more proper tests and report back.

Cookie usage is stable at around 740 bytes (as reported by Fiddler). Previously it was over 1450 bytes and failing. Maybe yo

[2016-08-27 13:17] chrisburrell commented on #32
Thanks for being so quick! Happy to do some testing too. Is there an easy way to bring in the patch and build it into the docker image?

[2016-08-27 13:35] chrisburrell commented on #32
Just tested manually patching the files and it looks like this fixes it for me too!

[2016-08-27 14:43] nsymms commented on #32
Probably related to using the built-in PHP web server -- after my 450-byte SQL query executes and I'm at the results page, if I click "Edit" to put me back at the main SQL tab, things break again.

My guess is that the PHP web server can't handle the super long GET request. The entire query in this case (and a couple of others) is passed in the URL. And sometimes it sends me back to the login scre

[2016-08-27 18:33] zaverichintan commented on #32
@nijel Thank you the patch. I think instead of cookies, shall we move entire information to local storage?

[2016-08-28 06:59] nijel commented on #32
I think it makes sense for information which is never needed on the server side like was in this particular case. The same is probably true for console settings...

[2016-08-28 07:19] nijel commented on #20
Should be fixed since #48 has been merged.

[2016-08-28 07:19] #20 closed

[2016-08-28 07:20] nijel commented on #32
I've just merged #48, what should eliminate possible issues caused by PHP built in web server. Testing is welcome.

[2016-08-28 13:16] ChieftainY2k opened #49 "PMA_ARBITRARY seems to be ignored in the latest image build (but its ok with the phpmyadmin/phpmyadmin:4.6.4-1 image)"
PMA_ARBITRARY seems to be ignored in the latest image build (but its ok with the phpmyadmin/phpmyadmin:4.6.4-1 image)

Steps to reproduce:
1) Create docker-compose.yml with:
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_ARBITRARY=1

2) Goto phpmyadmin local app page, the "Server:" field is missing from the "Log in" form.

[2016-08-28 17:19] nijel commented on #49
Probably environment is cleaned up when starting PHP FPM...

[2016-08-28 17:22] #49 closed

[2016-08-28 21:18] nsymms commented on #32
I'm a bit hesitant to post this because I know I tested it yesterday as of https://github.com/phpmyadmin/docker/pull/48/commits/b611c5adde296d26db0cc58589968f6dcfca42c6 and everything worked fine. But it's not going so well today.

I even tried the new container on a fresh AWS instance and connected to it from a different machine than I was using for the other tests. All I get is several INCOMPLET

[2016-08-29 06:18] nijel commented on #32
I really didn't pay attention to setting limits on both nginx and PHP, hopefully these are now more sane to avoid problems in real world usage.

[2016-08-29 13:35] nsymms commented on #32
The patches work well for me.

[2016-08-29 13:50] nijel commented on #32
Great, thanks for testing!

[2016-08-29 13:52] #32 closed

[2016-08-29 15:01] CybotTM commented on #34
why not using php alpine image?

php:alpine or php:7-alpine

[2016-08-29 15:40] ssteinerx commented on #34
@CybotTM -- as of last check PHP 7 was not yet available (alpine 3.4).  Is it now?

[2016-08-29 15:48] CybotTM commented on #34
@ssteinerx i do not understand the intention of your question ... php:7-alpine ist PHP Version 7 on alpine

i do not know if there is a PHP 7 package by alpine itself - but why does this matter?

[2016-08-29 15:55] ssteinerx commented on #34
@CybotTM -- my understanding, from the discussion above, is that the maintainer wants to use the official Alpine package repository.  Not my project, not my decision.

[2016-08-29 15:57] ssteinerx commented on #34
I agree with @CybotTM -- no reason not to use php7-alpine from here:

https://hub.docker.com/_/php/

It may not be an official Alpine release, but it's an official PHP7 release.

[2016-08-29 16:11] nijel commented on #34
Actually we would need fpm-alpine, but certainly that's an option. From quick look it lacks some extensions we use, but that seems to be solvable.

[2016-08-29 16:18] ssteinerx commented on #34
@CybotTM I don't have time for this right now, but if you're familiar with that image and wanted to take a shot at a patch, I'd be happy to test and confirm it works to endorse a pull request.

[2016-08-29 20:48] CybotTM commented on #34
I will have a look into it.

[2016-08-30 08:04] boistordu opened #50 "link deprecated"
Hi,

the --link option have been deprecated shouldn't we use the --net option?

[2016-08-30 08:15] boistordu commented on #50
bny the way :

from https://docs.docker.com/engine/userguide/networking/

since it is deprecated: should we use the -e PMA_HOST then with the --net argument?

[2016-08-30 11:12] nijel commented on #50
Well --link is used only in examples and documentation and I don't see anything bad in that. Certainly we could add examples using the new approach, patches are welcome.

PS: To me it seems that using networks is way more complex setup, so people will stick with legacy --link for quite some time...

[2016-08-30 12:14] chrisburrell commented on #32
Hi

Can I just confirm if the dockerhub latest tag has this in? Or should i build directly from here?
Thanks
Chris

[2016-08-30 12:31] nijel commented on #32
The latest tag has all the changes on the docker container side, but does not have changes from upcoming 4.6.5 release (reintroduction of absolute URL setting or removal of some cookies). However the cookie removal should not matter with new setup...

[2016-08-30 12:51] chrisburrell commented on #32
@nigel thanks for this!

[2016-08-30 13:42] chrisburrell commented on #32
Thanks - tested on the latest build too and this works great. Thanks for all the work over the weekend. Much appreciate it.

[2016-08-31 15:00] f-andrey opened #51 "[enhancement] Version only php-fpm, without nginx and supervisord"
Hello, are you have plans make version without nginx and supervisord?

Nginx with default config only creates excessive load, much better to add separate nginx-proxy (docker-compose or host-based).

supervisord need only for run nginx?

[2016-09-01 07:16] nijel commented on #51
AFAIK there is no way to serve static files with php-fpm, so how that would work?

[2016-09-01 12:58] f-andrey commented on #51
If i'm understand  php-fpm work with static files not optimal, but still working.

In docker-compose.yml make 2 service phpmyadmin and nginx-proxy (standard nginx docker image).
Export static files in volume, run nginx-proxy separate docker/host.

[2016-09-01 13:47] nijel commented on #51
I really don't see much benefit in splitting the setup into two containers....

[2016-09-01 13:52] f-andrey commented on #51
This will use your project as part of a more complex, where there is already a proxy or use another proxy (apache, lighttpd ...). Without significant changes, as well as eliminating the unnecessary processes supervisord.

[2016-09-01 14:49] nijel commented on #51
But on the other side this will make it more complex for users who want just to have phpMyAdmin installed with minimal additional effort...

[2016-09-01 15:03] f-andrey commented on #51
make complex docker-compose.yml this makes it easy to run and modify project. Without that reuse this project is meaningless, it is easier to write another :(

[2016-09-02 09:42] nijel commented on #51
I would really use another opinion here as well. Remembering some recent issues and commenters there, maybe @chrisburrell, @nsymms, @ssteinerx or @CybotTM  can share opinion on this - whether phpMyAdmin should be all in one container or split to PHP + nginx containers?

[2016-09-02 12:52] nsymms commented on #51
It is my belief that containers should be stand-alone. That is, everything is included. Removing nginx from the phpMyAdmin container would, in my opinion, negate the purpose of this container. I mean, why not just distribute a tar file?

We've already seen that php does NOT function well as a web server for this project. and even @f-andrey admits that it would not be optimal. If you think there ar

[2016-09-02 13:52] ssteinerx commented on #51
@f-andrey

Then just go do that and publish your own.  Coming here just to complain when your assertion is that you can do it more easily on your own is not productive.  Just think, in they time you've spent complaining, you'd almost be done!

[2016-09-02 13:53] ssteinerx commented on #51
@nsymms -- agreed, if the nginx config is sub-optimal, propose changes, don't just complain that it's sub-optimal.

[2016-09-02 14:00] ssteinerx commented on #51
@nijel Putting it into separate containers might be nice from a purist's standpoint but really, this thing is so tiny, self-contained, and single-purpose that having Nginx tightly coupled within the image is much more convenient.

Everything on Earth doesn't have to be in a separate container -- do you really want to have to modify your load balancer to use this image, or do you just want to admin

[2016-09-02 17:20] chrisburrell commented on #51
A single container is much better in my opinion. The beauty of how it is now is that i can just deploy it and it works.

I was able to lift it off the shelf, slide next to all our other services and hey presto.

Introducing something like docker compose and 2 containers only works for those who are using docker compose. We re not, we use AWS ECS so we d have to rewrite compose files. And for peopl

[2016-09-06 08:26] nijel commented on #51
Sorry @f-andrey, but nobody seems to support such change....

[2016-09-06 08:26] #51 closed

[2016-09-19 22:58] jortkoopmans commented on #40
Got bitten by this one today as well. What nginx config worked for you in the end (with the broken login/logout)?

I couldnt get anywhere without rewriting, not sure if its best:

[code]
with PMA_ABSOLUTE_URI set to "http://example.net/pma/
Login and logout are broken....
Running latest container which should be v4.6.4

[2016-09-20 06:40] nijel commented on #40
This will be fixed once 4.6.5 is out, in 4.6.4, the PMA_ABSOLUTE_URI has not effect.

[2016-09-20 09:19] vpal opened #52 "Is it necessary to run it as root?"
Greetings,

I just needed phpmyadmin for one of our projects and I looked into the image and I don't understand a couple of concepts here.

1.) Why does anything in this image run as root (tried both latest and 4.6.4-1 from docker hub and although they are different both run php processes as root).
2.) Let's presume this is changed and the processes in the container are ran as UID 1000, in that ca

[2016-09-20 09:46] nijel commented on #52
All what runs as root should supervisor and master processes since #48 has been merged (processes are started as root, but setuid to unprivileged users). The PHP could be probably started as not privileged user directly, I will give it a try. The nginx has to start as root for binding port 80.

The discussion on used port has been in #18, so feel free to continue there if you have something to add

[2016-09-20 10:01] vpal commented on #52
Thanks for the explanation and putting efforts into this.
Now I see that the php subprocesses would then run as nobody so the webroot is not writable by the web processes itself. This sounds much better.
Maybe an explicit chown + chmod in the Dockerfile for the extracted files would make sense to not rely on the ownership and permissions that are coming out from the archive would increase robustne

[2016-09-20 10:14] nijel commented on #52
Now even PHP FPM master process is run as nobody (#53).

You mean chown to root:root? I thought that's implicit in Docker, but I might be wrong...

[2016-09-20 10:38] vpal commented on #52
Here: https://github.com/phpmyadmin/docker/blob/master/Dockerfile
phpMyAdmin.tar.gz is extracted and moved into place and the ownership permissions are inherited from the archive itself.
if you enter the running container and list the /www directory you will see permissions like this:
-rw-r--r--  1 1000 1000
This is basically okay, but these permissions are inherited from phpMyAdmin.tar.gz and can

[2016-09-20 11:02] nijel commented on #52
All future phpMyAdmin tarballs will be root:root, see https://github.com/phpmyadmin/phpmyadmin/issues/12560, but it's probably still good idea to change it like this.

[2016-09-20 11:02] #52 closed

[2016-09-20 17:59] babatundebusari opened #54 "allow to describe host with description"
For cases where the hosts are IP addresses
how can one give description to the IP address so one can know what DB server the ip belongs to when on login page?

So instead of showing ip address of host on login page and no one knows what DB server the ip address belongs to, i can declare a some env variable to connect ip address to a description

Thanks

[2016-09-21 00:32] cracker0dks commented on #40
the broken login/logout woriking with the config from above: https://github.com/phpmyadmin/docker/issues/40#issuecomment-231215330

[2016-09-22 07:57] #54 closed

[2016-09-26 07:11] nijel opened #55 "disable allow_url_fopen"
This can be done once fix for https://github.com/phpmyadmin/phpmyadmin/issues/12588 is released.

[2016-09-27 06:31] nijel opened #56 "Missing Official Repository in DockerHub"
The docker image marked as public at:
    https://hub.docker.com/r/phpmyadmin/phpmyadmin/
There is a process that will mark the image as official, more information:
    https://docs.docker.com/docker-hub/official_repos/
example of official repositories:
    https://hub.docker.com/_/wordpress/
    https://hub.docker.com/_/drupal/
it appears that official repos has some security benefits (apart from

[2016-09-27 06:32] nijel opened #57 "not signed docker image"
docker has mechanism for image signing (called "content trust"), more information:
    https://docs.docker.com/engine/security/trust/trust_sandbox/
    https://docs.docker.com/engine/security/trust/content_trust/
I wasn't able to install PMA docker while using --disable-content-trust=false such as:
    ```docker pull phpmyadmin/phpmyadmin --disable-content-trust=false```
result:
[code]

Reported b

[2016-09-27 06:33] nijel opened #58 "Provide AppArmor profile for Docker container"
More information about AppArmor profile for Docker container:
    https://docs.docker.com/engine/security/apparmor/
The docker-default is very permissive, it's better to provide custom profile.

it's like issue:
    https://github.com/phpmyadmin/phpmyadmin/issues/12436
but related to docker container while using mod_apparmor apply to profile that cover PMA under Apache only.

Reported by Emanuel B

[2016-09-27 06:34] nijel opened #59 "Insecure default docker umask (022)"
The default umask settings for docker is 022 (which is also used by many distros)
    https://github.com/docker/docker/pull/13941/files#diff-f12859176a0bd7f84e8c0884b1d71908R37
it's better to use more secure umask when possible, such as:
027
(none permissions for other)

The umask need to be set before creation of files that will remain in the image, thus affecting the permissions of extracted fil

[2016-09-27 06:34] nijel opened #60 "incorrect permissions/ownership adjustment routine"
The code at:
    https://github.com/phpmyadmin/docker/blob/master/Dockerfile#L26-L28
run after the tar extract at:
    https://github.com/phpmyadmin/docker/blob/master/Dockerfile#L22
which will generate files with read permissions for others. (permissions will be changes after the extract & removing some directories)
it's better to avoid creating the files with bad permissions, which possible by:

[2016-09-27 06:35] nijel opened #61 "Insecure default supervisor umask (022)"
The default umask set by supervisord is 022 according to: (also set it to processes spawned by it by default)
    http://supervisord.org/configuration.html
fix:
    use -m or --mask parameter (http://supervisord.org/running.html#supervisord-command-line-options) at:
        https://github.com/phpmyadmin/docker/blob/master/run.sh#L21
    and set it to 027.

Reported by Emanuel Bronshtein.

[2016-09-27 06:35] nijel opened #62 "chown operation after applied 027 umask"
after setting umask (issues: #59 & #61) a chown call need to be made on nearly all files used by container (such as: config.inc.php, config.secret.inc.php) to set nobody as group (thus giving read access to PHP-FPM).

fix:
    chown all files that need read access by nobody with nobody group.

Reported by Emanuel Bronshtein.

[2016-09-27 06:36] nijel opened #63 "increased attack surface by internal redirect in try_files option"
the try_files at:
    https://github.com/phpmyadmin/docker/blob/master/etc/nginx.conf#L63
has internal redirect to:
    /index.php?$query_string
which increase attack surface by enabling various URIs, for example such as:
possible XSS via REQUEST_URI, etc..:
    http://host/"><script>alert(1)</script>.txt?param1=value1
possible phishing via //phishing.com/ if used in URL context.
    http://host//

[2016-09-27 06:40] nijel opened #64 "Missing white-list of allowed HTTP methods (in nginx.conf)"
it's recommended to white-list the used HTTP methods (decrease attack surface) as noted by:
    https://www.acunetix.com/blog/articles/nginx-server-security-hardening-configuration-1/
    https://support.rackspace.com/how-to/install-nginx-and-php-fpm-running-on-unix-file-sockets/

for example:

    if ($request_method !~ ^(GET|HEAD|POST)$ )
    {
           return 405;
    }

Note: while there no

[2016-09-27 06:43] nijel opened #65 "missing restrictions of opcache functions usage via opcache.restrict_api/disable_functions in php.ini used by docker"
https://secure.php.net/manual/en/opcache.configuration.php#ini.opcache.restrict-api

the value used as "start of path", more information:
    https://github.com/websharks/comet-cache/issues/733

fix:
    it will be better to disable it completely, didn't found way to do it, does it PHP bug/limitation? probably better to limit it using opcache.restrict_api (instead of using disable_functions for th

[2016-09-27 06:44] nijel opened #66 "missing security headers"
While PMA code does send the below headers in sendHttpHeaders function
(the correct place for such headers, are in PMA code, as it's the best/safest place to calculate CSP headers)
but it effects only .php files.
thus, it's recommended to add the below headers in nginx.conf in case the request wasn't passed to php-fpm

for every request that wasn't passed to php-fpm:

add_header X-Frame-Options "D

[2016-09-27 06:44] nijel opened #67 "Deny access to all hidden files"
Currently the configuration at:
    https://github.com/phpmyadmin/docker/blob/master/etc/nginx.conf#L117
deny access to files that startwith .ht such as .htpassed, it's better to deny access to any file that startswith . (which mean hidden file), for example:

    location ~ /\. {

Reported by Emanuel Bronshtein.

[2016-09-27 07:14] nijel opened #68 "Incorrect PHP log/socket name"
The filename contain 7.0 which is php version that's not used by the image.
php7.0-fpm.log
https://github.com/phpmyadmin/docker/blob/master/etc/php-fpm.conf#L2
https://github.com/phpmyadmin/docker/blob/master/run.sh#L17
https://github.com/phpmyadmin/docker/blob/master/run.sh#L18
php7.0-fpm.sock
https://github.com/phpmyadmin/docker/blob/master/etc/php-fpm.conf#L7

fix:
    use filename without vers

[2016-09-27 07:14] nijel opened #69 "not needed sections in php.ini"
The php.ini file in docker contain some sections which are not needed (related modules isn't used/installed), thus make it harder to audit it:
    mcrypt don't installed (don't install it, use openssl instead as already done)
        https://github.com/phpmyadmin/docker/blob/master/etc/php.ini#L1818
    COM is windows only:
        https://github.com/phpmyadmin/docker/blob/master/etc/php.ini#L1657

[2016-09-27 07:15] nijel commented on #69
The current php.ini is based on PHP's production sample, not sure if it's good idea to divert from it.

[2016-09-27 07:16] nijel opened #70 "Missing optional dependencies:"
The detectPow function at:
    https://github.com/phpmyadmin/phpmyadmin/blob/master/libraries/Util.php#L38
will use bcpow or gmp_pow or pow functions, the bcpow & gmp_pow functions require:
php5-bcmath
php5-gmp
packages

fix:
    1. in docker, add php5-bcmath:
        https://github.com/phpmyadmin/docker/blob/master/Dockerfile#L4
    2. in debian, add under "Recommends" a PHP bcmath package:

[2016-09-27 07:19] nijel opened #71 "Performance Improvements to Test"
1) set opcache.save_comments to false
in:
    https://github.com/phpmyadmin/docker/blob/90551173a8bd913805fcfc2c45986255bcc3cad5/etc/php.ini#L1872
more information:
    https://secure.php.net/manual/en/opcache.configuration.php#ini.opcache.save-comments

2) set opcache.validate_timestamps to 0
in:
    https://github.com/phpmyadmin/docker/blob/90551173a8bd913805fcfc2c45986255bcc3cad5/etc/php.ini#L1

[2016-09-27 07:38] nijel commented on #70
I've looked at all Util::pow use cases and I don't think we're having any benefit when using bcmath or gmp functions here, so adding this dependency has IMHO no reason.

See also https://github.com/phpmyadmin/phpmyadmin/pull/12595, where I propose to remove this code altogether.

[2016-10-12 13:26] ahfeel opened #73 "User configuration not taken into account"
Using the latest image, I'm mounting a file under /config.user.inc.php as described in the documentation. The file is not loaded by the default config.inc.php.

After investigating, the file is mounted properly but the line `if (file_exists('/config.user.inc.php')) {`  return false, which means that the PHP code does not have access to this file. A simple scandir('/') returns false also.

I'm runn

[2016-10-13 11:52] nijel commented on #73
That's caused by `open_basedir` restrictions. Probably the location of file should be changed to something else due to this....

[2016-10-18 09:32] ahfeel commented on #73
Sounds pretty much like this was not tested... :-/

Do you want a pull request to fix this ?

[2016-10-18 10:07] nijel commented on #73
It has been tested, but other changes broke that...

[2016-10-18 10:36] nijel commented on #70
Code has been removed, so there is no need for these dependencies.

[2016-10-18 10:36] #70 closed

[2016-10-18 10:37] nijel commented on #69
I really prefer to have the diff between our settings and PHP's production one minimal, so let's keep those sections.

[2016-10-18 10:37] #69 closed

[2016-10-18 10:56] #71 closed

[2016-10-18 10:58] #68 closed

[2016-10-18 11:03] #73 closed

[2016-10-18 11:04] nijel commented on #73
Fixed and I've also introduced CI check to make sure this feature works.

[2016-10-18 11:07] #63 closed

[2016-10-18 11:07] #64 closed

[2016-10-18 11:07] #67 closed

[2016-10-25 08:09] emanuelb opened #78 "Remove additional not needed files"
in:
	https://github.com/phpmyadmin/docker/blob/master/Dockerfile#L25

files:
	/www/templates/test/
	/www/phpunit.xml.*
	/www/phpdox.xml
	/www/build.xml
	/www/composer.json
	/www/RELEASE-DATE-$VERSION

[2016-10-25 08:45] #78 closed

[2016-10-25 19:06] emanuelb opened #79 "Remove not needed files in doc folder"
There are many not needed files in doc folder, the below will delete all files and folders except 'images' & 'html' folders which needed for the documentation.
find /www/doc/ -mindepth 1 -maxdepth 1 -not -name 'images' -not -name 'html' -exec rm -r {} \;

[2016-10-25 19:17] emanuelb commented on #79
The images folder is not needed (_images in html folder is used)
find /www/doc/ -mindepth 1 -maxdepth 1 -not -name 'html' -exec rm -r {} \;
The below files also not needed
/www/doc/.buildinfo
/www/doc/objects.inv

[2016-11-01 06:03] DigitalSolace opened #80 "Unable to access phpMyAdmin"
Assistance greatly appreciated. Apologies if this in not the right forum to ask
I have a phpmyadmin container running on 8090:80 yet am unable access using http://server_ip:8090 .
Using phpmyadmin version 4.6.4  mysql 5.7  drupal 8.2.1 and php 7.0.1
docker ps -a shows the phpmyadmin container is up and running and linked to the mysql server
What am i missing?

[2016-11-01 10:55] nijel commented on #80
Either use phpmyadmin_ip:80 or localhost:8090

[2016-11-01 14:46] DigitalSolace commented on #80
Thanks Nijel, that's just the thing, neither of those work...
drupal server is running on: http://41.79.78.255:8080/
phpmyadmin not working on: http://41.79.78.255:8090/

[2016-11-02 09:28] DigitalSolace commented on #80
Solved - this was a combination of the cloud service provider blocking ports and setting the PMA_HOST variable to the ip address of the MYSQL container found in docker inspect.

[2016-11-08 13:14] #80 closed

[2016-11-10 20:22] babatundebusari commented on #54
@nijel thanks!!!

[2016-11-11 20:16] trombini77 opened #81 "Is PMA_ARBITRARY = 1 working?"
I updated from dockerhub this image "docker pull phpmyadmin/phpmyadmin", the latest version come and I have configured into my docker-compose.yml the following lines:

phpmyadmin:
   image: phpmyadmin/phpmyadmin
   container_name: phpmyadmin
   environment:
              - PMA_ARBITRARY=1
   restart: always
   ports:
               - 8080:80
   volumes:
               - /sessions

and after remove

[2016-11-11 20:23] trombini77 commented on #81
Sorry I fixed here the issue, was a enviroment variables conclict.

[2016-11-11 20:23] #81 closed

[2016-11-11 23:45] jandor64 opened #82 "Documentation on docker-compose config.user.inc.php"
I am having difficulty understanding how to add a config file here when using docker-compose, the instructions only seem to be for Docker CLI

Please advise if you can, thank you.

[2016-11-12 11:40] huymluu opened #83 "[Question] htaccess options supporting"
My mysql db has weak username password - root/root. Is there any option to start docker which add htaccess layer for more secure?
Thank you.

[2016-11-16 03:46] emanuelb opened #84 "Implement Custom Error Pages"
This issue similar to:
https://github.com/phpmyadmin/website/issues/30

Implement custom error pages in Docker image which will be used instead of nginx default error pages.
The content of error pages will contain:
1. Error code (404/405/403/500)
2. link to phpmyadmin documentation / issue tracker / report bug dialog.

[2016-11-18 17:43] emanuelb opened #85 "Missing MAINTAINER command in Dockerfile"
more information about MAINTAINER command:
https://docs.docker.com/engine/reference/builder/#maintainer

fix:
add MAINTAINER command to Dockerfile, as done by other projects:
https://github.com/rethinkdb/rethinkdb-dockerfiles/blob/da98484fc73485fe7780546903d01dcbcd931673/jessie/2.0.4/Dockerfile#L3

[2016-11-18 23:46] emanuelb commented on #56
Semi related, there is new program called Docker Store:
https://success.docker.com/Store
which has guidelines under "Tips for becoming a publisher:"
https://blog.docker.com/2016/06/docker-store/
currently PHPMyAdmin docker listed under community:
https://store.docker.com/community/images/phpmyadmin/phpmyadmin

[2016-11-19 04:59] emanuelb commented on #85
The MAINTAINER command is Deprecated from 1.13.0, more information:
https://github.com/docker/docker/blob/master/docs/deprecated.md#maintainer-in-dockerfile
Thus, closing this issue (LABEL can be used to specify metadata)

[2016-11-19 04:59] #85 closed

[2016-11-19 05:12] emanuelb opened #86 "Warnings from Haskell Dockerfile Linter"
The "Haskell Dockerfile Linter" Tool:
https://github.com/lukasmartinelli/hadolint
report the following issues:
https://github.com/koalaman/shellcheck/wiki/SC2155
https://github.com/koalaman/shellcheck/wiki/SC2086
for:
https://github.com/phpmyadmin/docker/blob/master/Dockerfile#L14-L28

(The MAINTAINER issue: https://github.com/lukasmartinelli/hadolint/wiki/DL4000 is false positive, more informatio

[2016-11-19 18:24] emanuelb opened #87 "ShellCheck warnings for sh files"
ShellCheck tool https://www.shellcheck.net/ report the following for .sh files:

results for run.sh:
[code]
results for test-docker.sh:

[code]

[2016-11-24 16:20] emanuelb commented on #87
fixed at commit:
https://github.com/phpmyadmin/docker/commit/9b115208c7d8944f7387a8324fa9e27b4cc95ef5

[2016-11-24 16:20] #87 closed

[2016-11-24 21:33] asolopovas opened #88 "sql folder is missing which results in error"
Hi sql folder with the following files is missing:
create_tables.sql
upgrade_column_info_4_3_0+.sql
upgrade_tables_mysql_4_1_2+

So when you try to execute it from phpmyadmin it throws an error

https://files.phpmyadmin.net/phpMyAdmin/4.6.4/phpMyAdmin-4.6.4-all-languages.tar.gz

this file contains the folder but its not present when I open container. As I understand the reason behind that is

25 l

[2016-11-25 14:23] nijel commented on #88
Fixed by https://github.com/phpmyadmin/docker/pull/89, thanks!

[2016-11-25 14:23] #88 closed

[2016-11-28 08:37] #86 closed

[2016-11-28 09:23] #79 closed

[2016-11-28 15:40] nijel commented on #85
I've added version label, but there really doesn't seem to be any standard for labels, it rather arbitrary key value storage... https://docs.docker.com/engine/reference/builder/#label

[2016-11-28 17:32] emanuelb commented on #79
in previous comment I meant to remove also:
/www/doc/html/.buildinfo
/www/doc/html/objects.inv

[2016-11-28 17:52] emanuelb opened #95 "incomplete configuration migration to /etc"
in:
https://github.com/phpmyadmin/docker/commit/f581555bcf8384117d2bac4a7f26fe065175af3a
there is still /www/config.user.inc.php usage in:
https://github.com/phpmyadmin/docker/blob/master/run.sh#L9-L11
and /www/config.secret.inc.php usage in: (also configuration file)
https://github.com/phpmyadmin/docker/blob/master/run.sh#L2-L3
https://github.com/phpmyadmin/docker/blob/master/etc/phpmyadmin/confi

[2016-11-29 01:22] sul4bh commented on #40
To conform, 4.6.5 is out and this is fixed yes?

[2016-11-29 09:25] cracker0dks commented on #40
yep! i just installed it and this is fixed (again)! 👍

[2016-11-30 10:18] #95 closed

[2016-12-05 00:24] emanuelb opened #96 "unnecessary php5-ctype installation"
PMA 4.6.5.1 doesn't use ctype_* functions. (thus not need to install php5-ctype)

[2016-12-05 07:40] nijel commented on #96
Indeed it's not needed since phpmyadmin/sql-parser@5cb399390831abf8b524fa7815537d3cafccf143.

[2016-12-05 07:41] #96 closed

[2016-12-06 10:35] emanuelb opened #97 "Non github releases"
more information about the issue in:
https://github.com/phpmyadmin/sql-parser/issues/86
see the changes beetwen:
https://github.com/phpmyadmin/docker/releases
vs
https://github.com/phpmyadmin/sql-parser/releases

[2016-12-06 10:56] nijel commented on #97
I don't think much people will use this, but added the same automation we have on other repos.

[2016-12-06 10:56] #97 closed

[2016-12-06 20:11] emanuelb opened #98 "Opcache optimizations to test"
1. in case PHPMyAdmin compatible with:
opcache.use_cwd=0
https://github.com/nijel/docker/blob/master/etc/php.ini#L1852-L1856

2. change opcache.interned_strings_buffer according to size of all strings in PMA code:
https://superuser.com/questions/969386/php-5-6-what-does-opcache-interned-string-buffers-overflow-mean#1008158

3. opcache.load_comments=0 (as comments not used)

[2016-12-07 10:37] gfelot commented on #23
Hi every one. I have the exact same problem even if it look like you commit a patch to solve this issue.

Here my docker-compose.yml v2 :

[code]

I have 3 issues on the login page of PMA :

` #2002 - php_network_getaddresses: getaddrinfo failed: Name does not resolve &mdash; The server is not responding (or the local server's socket is not correctly configured).`

`mysqli_real_connect(): php_netw

[2016-12-13 09:53] valkirilov opened #99 "Connect to remote database using SSH Tunnel"
I wonder how to connect to remote DB for which I am using SSH Tunnel.
When I have configured phpMyAdmin native on my system I am using the following config:

[code]

Then I open my SSH tunnel with the following command:
```ssh -L 3307:localhost:3306 user@server```

But now, when I use a docker container I am not sure how to achieve my goal. I think that I should open the tunnel in the container or

[2016-12-13 10:14] nijel commented on #99
Opening the tunnel in the container certainly sounds like a good approach. You can also make the ssh listed on the docker interface and let phpMyAdmin connect to it. It can be something like (depends on your Docker networking setup): `ssh -L 172.17.0.1:3307:localhost:3306 user@server`

[2016-12-13 19:55] jortkoopmans commented on #40
Confirmed, thanks for fixing this!

[2016-12-13 20:55] k2xl opened #100 "Config simply not working"
[code]

The config simply does not get read.

config.inc.php:
[code]

[2016-12-13 21:06] k2xl commented on #100
Nevermind. Looks like the image I had was out of date. dc pull phpmyadmin updated the image and now works.

[2016-12-13 21:06] #100 closed

[2016-12-13 21:15] sul4bh commented on #40
Yes, it works. Thank you, thank you.

[2016-12-14 09:39] nijel commented on #100
Yes, the path to configuration has been changed recently.

[2016-12-15 06:05] kujiy opened #101 "How to use in subdirectory"
Is is possible that I launch it as http://example.com/phpmyadmin/ ?

`PMA_ABSOLUTE_URI` seemed not work.

[2016-12-15 07:45] nijel commented on #101
Do you use latest version, `PMA_ABSOLUTE_URI` sould be the way to do it, but it's not supported on anything older than 4.6.5.

[2016-12-15 13:02] kujiy commented on #101
Thanks @nijel I'll check the version tomorrow. I thought I excuted `docker pull phpmyadmin/phpmyadmin:latest` today. I was wondering that my container ran with `php` command not nginx and supervisor. I might take some mistakes...

[2016-12-15 13:27] nijel commented on #101
That sounds correcty, but if there is no supervisor, it's clearly some older version. Maybe I've made something wrong in the docker hub tags setup....

[2016-12-15 13:41] kujiy commented on #101
@nijel I feel that's understandable for me. I'd had old container at the moment so I did `docker pull` and `docker rm -f container` then `docker-compose up`.  But there's no supervisor inside the container.  I'd like to know your recommended tag, thanks.

[2016-12-16 01:53] kujiy commented on #101
Hi @nijel, I was wrong that I specified an old image in `docker-compose.yml`. I'm sorry to bother you. Now I launched the latest container `Version 4.6.5.2`. But `PMA_ABSOLUTE_URI` seemed not to work for subdirectory. I'm wondering [where your subdirectory code is](https://github.com/phpmyadmin/docker/search?utf8=%E2%9C%93&q=PMA_ABSOLUTE_URI+). My `/etc/nginx.conf` is completely same as its origin

[2016-12-16 08:22] nijel commented on #101
The `PMA_ABSOLUTE_URI` doesn't change the path where phpMyAdmin is served from the container (it's always on /), it's there for possibility to run it behind reverse proxy which will change the location.

It's there for handing following setups:

[code]

Here phpMyAdmin would think it's running on `http://1.2.3.4/`, while the user sees it at `https://host/some/path/`. In such case setting `PMA_ABSO

[2016-12-16 11:03] kujiy commented on #101
I used phpmyadmin behind haproxy so tried to setup haproxy as a ProxyPass and works!

Here's my haproxy settings for subdirectoried phpmyadmin .
[code]

Here's docker-compose.yml for phpmyadmin.
[code]

Now they're working perfectly. Thank you very much. Would my settings be added to your document perhaps?

[2016-12-16 11:49] nijel commented on #101
Adding that to the docs could be useful, can you please document your setup for our docs? It's here: https://github.com/phpmyadmin/phpmyadmin/blob/master/doc/setup.rst#installing-using-docker

[2016-12-26 21:22] gavinkalika opened #103 "Trouble with "Usage with docker-compose and arbitrary server""
Ran docker-compose up
Navigated to http://localhost:8080/index.php
Entered  my local mysql server creds and I keep getting the follow:

Any advice? new to docker

[2016-12-27 14:44] trombini77 commented on #82
jandor64, I use the phpmyadmin in Docker with docker compose using the following lines inside docker-compose.yml (I don´t know your skills with Docker but anyway create a docker-compose.yml in a location that you will run the docker-compose utility):

_phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
     - PMA_ARBITRARY=1
    restart: always
    ports:

[2016-12-27 16:42] reissr commented on #103
I'm having the same issue.. subscribing

[2016-12-28 01:45] gavinkalika commented on #103
@nijel please?

[2016-12-28 05:07] rotemreiss commented on #103
I solved the problem on my installation - in my case it was a bad db host name (although it worked and stopped working for some reason).

@gavinkalika can you share your docker-compose yml here so we'll try to help you?

[2016-12-28 12:01] tommasosotte commented on #103
I had the same problem. I solved it by reloading docker (I did a reboot of the entire system).
This is my `docker-compose.yml` and it works for a **webserver + DB+ PMA** combo. I'll leave it here for future reference.
[code]

[2016-12-28 13:39] gavinkalika commented on #103
@rotemreiss
docker-compose.yml

[2016-12-28 16:31] gavinkalika commented on #103
I figured it out. Closing this issue.
I just had to read the docker documentation.

Solution:

1. pull mysql image with docker -> docker pull mysql
2. docker run --name mysql-server -e MYSQL_ROOT_PASSWORD=password mysql
3. docker run --name myadmin -d --link **{nameOfMysqlContainer}:db** -p 8080:80 phpmyadmin/phpmyadmin

[2016-12-28 19:58] gavinkalika opened #104 "docker question"
Below is my docker-compose.yml

I am having trouble editing the project files on my host machine. Could you please point me in right direction

[code]

[2016-12-28 23:39] jandor64 commented on #82
@trombini77 Thank you for taking the time to answer my question. Unfortunately, it looks like I could have been clearer in my question.

I do have PHPMyAdmin running, using a docker-compose.yml. What I was hoping to do was modify PHPMyAdmin's  settings, each time using a config.user.inc.php that is local to the project

The [documentation](https://github.com/phpmyadmin/docker#adding-custom-configu

[2017-01-02 15:47] nijel commented on #103
I still thinks this deserves clarification in the documentation....

[2017-01-02 15:48] #103 closed

[2017-01-02 15:51] nijel commented on #104
Shouldn't it be [volumes](https://docs.docker.com/compose/compose-file/#/volumes-volumedriver) (instead of volume)? Also indentation seems to be wrong in your case.

[2017-01-02 15:51] #104 closed

[2017-01-02 15:53] nijel commented on #82
@jandor64 The path to the user configuration has been changed recently, so in case you're using older version of the Docker container phpMyAdmin will not use it.

[2017-01-02 16:14] #34 closed

[2017-01-03 16:06] gavinkalika commented on #104
[code]

[2017-01-03 16:06] gavinkalika commented on #104
nada.

i get the following "contains an invalid type, it should be an object, or an array"

[2017-01-03 17:10] nijel commented on #104
Seems like one space is missing there (not sure if that's problem, but it's different than the other lines).

PS: What version of docker-compose are you using?

[2017-01-03 17:26] gavinkalika commented on #104
docker-compose version -> docker-compose version 1.9.0, build 258538

changed up my docker-compose yaml to
[code]

I now get a 403 Forbidden

[2017-01-03 17:36] nijel commented on #104
The permissions for the path are probably wrong. What is in ./docker/src/www/ and what are the permissions there?

[2017-02-05 16:47] ViceIce opened #105 "Security Updated 4.6.6"
A security update is out [there](https://www.phpmyadmin.net/files/4.6.6).

Please provide a update to version 4.6.6.

Regards,
Michael

[2017-02-05 18:44] skorzhevsky commented on #82
@jandor64 works fine for me:

    volumes:
     - /sessions
     - ~/docker/phpmyadmin/config.user.inc.php:/etc/phpmyadmin/config.user.inc.php
     - /var/run/mysqld/mysqld.sock:/tmp/mysqld.sock

[2017-02-06 10:24] #105 closed

[2017-02-06 10:25] nijel commented on #105
Sorry, I somehow forgot to update the Docker container on release.

[2017-02-06 10:30] #82 closed

[2017-02-06 10:30] nijel commented on #82
Thanks for confirming, I've added example to our documentation as well.

[2017-02-06 10:44] ViceIce commented on #105
Currently only edge tag is updated. Will you update the lastest tag too?

[2017-02-06 11:06] nijel commented on #105
Yes, doing that right now. I was waiting for tests will pass, I didn't want to ship something broken ;-).

[2017-02-06 11:25] ViceIce commented on #105
Ok. Now it's there. Thanks.

[2017-02-06 12:46] nijel commented on #99
Any luck with that?

[2017-02-06 17:37] skorzhevsky commented on #82
Just one thing, config.user.inc.php must start from "<?php", which was not obvious to me :)

[2017-02-06 19:39] valkirilov commented on #99
I couldn't achieve my goal because I realized that I should bind the SSH tunnel to the databse port but there aren't installed MysQL packages (for example) in the container. Someone can try to link the phpmyadmin container with a database and share the results.

[2017-02-07 09:27] nijel commented on #82
Okay, I've added more information on this topic :-)

[2017-02-07 09:33] nijel commented on #99
Maybe it's better to use something like https://hub.docker.com/r/kingsquare/tunnel/ for that. It even includes examples for tunneling MySQL.

[2017-02-13 19:30] jandor64 commented on #82
Thank you @nijel and @skorzhevsky I'm sure this will be helpful to others!

[2017-02-14 09:23] nijel commented on #82
If you still find something confusing, don't hesitate to open issue or submit patch ;-).

[2017-02-16 08:04] daruma8 opened #106 "PHP MySQL library version 10.1.21-MariaDB differs from your MySQL server version 5.6.xx"
I got this warning at the bottom of phpmyadmin.
is it all right?
if not, how can I change the lib for MySQL 5.6?

[2017-02-20 08:23] nijel commented on #106
AFAIK you would have to recompile Alpine to use that. Pretty much every Linux distribution has switched to MariaDB because MySQL upstream being quite unfriendly to Linux distributions.

This is really problematic area, as the protocol compatibility should be kept, but in past even different MySQL versions behaved wrongly under certain circumstances. Anyway with todays mixture of MariaDB and MySQL

[2017-03-02 03:45] emanuelb commented on #55
The fix was released :)
allow_url_fopen can be disabled now.

[2017-03-02 03:49] emanuelb commented on #65
Can be disabled/fixed with the following hack by hanno (see first comment) in:
https://ma.ttias.be/mitigating-phps-long-standing-issue-opcache-leaking-sensitive-data/
By setting opcache.restrict_api to not-existent directory/directory where root can write to "/root"

[2017-03-02 08:27] nijel commented on #55
Thanks for pinging me ;-)

[2017-03-02 08:28] #55 closed

[2017-03-02 08:42] nijel commented on #65
There is just one FPM pool in the Docker container, so this vulnerability really does not affect us. However we don't use the API, so disabling it is probably good idea.

[2017-03-02 08:47] #65 closed

[2017-03-02 08:48] nijel commented on #98
The use_cwd and load_comments are adjusted, tweaking with interned_strings_buffer doesn't make much sense for now as we have quite a lot of global strings and fitting them all would need way too much memory.

[2017-03-02 08:48] #98 closed

[2017-03-02 08:50] nijel commented on #106
JFYI: The warning will be gone in 4.7.0.

[2017-03-02 08:50] #106 closed

[2017-03-05 00:53] murix opened #107 "Missing configure HTTPS"
This repository contains only Docker integration of phpMyAdmin.

Please do not report bugs in phpMyAdmin itself here, use
<https://github.com/phpmyadmin/phpmyadmin/issues> instead.

[2017-03-06 09:16] nijel commented on #107
I'm not so sure HTTPS should be handled at this level. You need to issue valid certificate to make it usable and I believe it's better to manage this centrally than in every Docker container which can do http.

There are dozens of https frontends doing this, for example https://hub.docker.com/r/steveltn/https-portal/

[2017-03-14 04:31] emanuelb opened #108 "Support docker secrets"
more information about docker secrets:
https://docs.docker.com/engine/swarm/secrets/#build-support-for-docker-secrets-into-your-images

[2017-03-14 04:36] emanuelb opened #109 "Add latest/master version"
This was requested by "drevilkuko" at:
https://hub.docker.com/r/phpmyadmin/phpmyadmin/

it can be easily accomplished after fixing:
https://github.com/phpmyadmin/phpmyadmin/issues/12821

[2017-04-04 19:08] Ludea commented on #104
Hello, I have the same issue. I can not log in into phpmyadmin with Mariadb.

Here is my docker compose file

`version: '2'
services:
 mariadb:
    image: mariadb:10.1.22
    environment:
     - MYSQL_ROOT_PASSWORD=pass
     - MYSQL_DATABASE=db
    ports:
      - 3306:3306
    volumes:
     - ./database:/var/lib/mysql

 phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin

[2017-04-05 13:55] ericfjosne opened #112 "PMA_PORTS variable ?"
Hi Guys,

I used to run multiple dockerized MySQL servers on a same host, exposed to the network via port mapping, and access them via a dockerized phpmyadmin, referencing those MySQL servers via the PMA_HOSTS environment variable, as follow:

PMA_HOSTS="my-lovely-server:3306,my-lovely-server:6603,my-lovely-server:7777"

This was working perfectly with version 4.6.5. However, version 4.6.6 does no

[2017-04-05 18:06] The-Judge opened #113 "Please update "latest" to 4.7.0"
Currently, "latest" contains 4.6.6 . Please update it to latest from upstream.

[2017-04-05 18:11] #113 closed

[2017-04-06 11:57] elshafey opened #114 "Environment Variables Is Not Working"
The passed Environment Variables is not working well in compose file.

I tried to set PMA_HOST,PMA_USER,PMA_PASSWORD but has no effect, though when I tried to echo these variables from the bash inside the container, it worked well

here the compose snippet

environment:
            - PMA_ARBITRARY=1
            - MYSQL_ROOT_PASSWORD=
            - PMA_HOST=172.16.238.5
            - PMA_USER=root

[2017-04-06 15:54] davidbnk opened #115 "Call to undefined function ctype_digit()"
I'm getting the following error  in `/var/log/nginx-error.log` while using phpmyadmin docker image with jwilder nginx-proxy. I have used both in conjunction in the past and I can't identify whats causing the problem right now

[code]

[2017-04-06 15:57] davidbnk commented on #115
Image details:

[code]

[2017-04-06 16:04] davidbnk commented on #115
I can confirm the problem is happening only on 4.7.0-1
I reverted back to 4.6.6-2 and the error is not occurring

[2017-04-07 05:57] nijel commented on #115
Thanks for pointing this out, there is undocumented dependency on ctype in Symfony ExpressionLanguage, I've submitted PR to fix that there: https://github.com/symfony/symfony/pull/22325

[2017-04-07 07:45] ericfjosne commented on #112
FYI: just created a pull request to implement the change: https://github.com/phpmyadmin/docker/pull/116

Thanks in advance, and hope it helps someone else :)

[2017-04-07 13:24] #112 closed

[2017-04-10 15:47] etki opened #117 "Remove VOLUME dockerfile instruction"
Currently there is VOLUME declared in Dockerfile (`VOLUME /sessions`). VOLUME is commonly mistaken for some magic thing that has relevance to persistence, but in fact it is just a directory outside of standard graph which **is created every time container is started** and **it is never remounted automatically on following container starts** and, finally, **it is never cleaned automatically, so it

[2017-04-11 12:00] nijel commented on #117
I've thought that `VOLUME` is necessary for being able to mount host volumes...

[2017-04-11 14:04] Soullivaneuh opened #118 "You should upgrade to MySQL 5.5.0 or later error"
Since the last pull, I have this error while trying to access PMA:

[code]

The problem is... I use it with MySQL... 5.6! \o/

Here is my `docker-compose.yml` file (concerned part):

[code]

Also tried with `phpmyadmin/phpmyadmin:4.6`, same thing.

Any idea of why?

[2017-04-11 14:23] nijel commented on #118
What does the server return when you execute `SELECT @@version, @@version_comment`?

[2017-04-11 14:26] Soullivaneuh commented on #118
[code]

[2017-04-11 14:30] Soullivaneuh commented on #118
I tried a simplified as possible standalone `docker-compose.yml`:

[code]

Here is the up log:

[code]

Still have the issue.

[2017-04-11 14:38] nijel commented on #118
Hmm, that looks completely okay.

[2017-04-11 14:50] Soullivaneuh commented on #118
I'll pull your commit ASAP and give you a feedback, thanks.

[2017-04-11 14:51] nijel commented on #118
That commit won't fix anything, it's just added test for the code :-).

You can workaround it by setting `$cfg['MysqlMinVersion']['internal'] = 0` in config file, see https://docs.phpmyadmin.net/en/latest/setup.html#customizing-configuration for information how to add it to Docker. Once you do that, can you please tell me what server version information does phpMyAdmin report on main page?

[2017-04-11 14:59] Soullivaneuh commented on #118
I tried with the following config files:

[code]

Mounted like this:

[code]

And I have a lot of error, like those:

[code]

[code]

[code]

Did I f*ck up something? :smile:

[2017-04-11 15:09] Soullivaneuh commented on #118
Seems to be because of the `<?php` tag.

Anyway, I tried:

[code]

And this change nothing, I still have the error...

Can't you reproduce it with the provided `docker-compose.yml`?

[2017-04-11 15:21] nijel commented on #118
I can reproduce it now. The problem is that you have set PMA_USER but not PMA_PASSWORD, what triggers bug in configuration checking code leading to not reported connection failure. I've adjusted the Docker container to set password to empty string in such case and I've also fixed handling of this situation on the phpMyAdmin side.

To fix the error, just set `PMA_PASSWORD=` in your `docker-compose.

[2017-04-11 15:21] #118 closed

[2017-04-11 15:25] Soullivaneuh commented on #118
Just tried with:

[code]

Changed nothing.

[2017-04-11 15:27] nijel commented on #118
Ah, there is another problem with handling empty values from environment. Looking for a fix....

So just don't set PMA_USER at all, and it will work with cookie auth.

[2017-04-11 15:31] Soullivaneuh commented on #118
Yeah... but I don't want cookie auth. :-)

I have this configuration on dev env to get rid of this auth form and session limit and get access to this PMA at any time.

BTW, FYI, this configuration always worked for me. Which change did break this part?

[2017-04-11 15:41] nijel commented on #118
The 4.7.0 has different handling of authentication configuration and it did trigger this. But the root cause is that Docker setup for no password was broken, it was just not visible before...

[2017-04-11 16:02] Soullivaneuh commented on #118
So, will it works when I'll pull your last commit from docker hub with the initial docker-compose configuration?

[2017-04-11 18:37] nijel commented on #118
Yes, it should

[2017-04-12 08:58] Soullivaneuh commented on #118
Indeed, this is now working.

Thank you for the quick fix! :+1:

[2017-04-12 18:06] nijel commented on #114
What indeed was not working were *empty* variables, this has been fixed in 1bcaeb5fece5f9dd72a9bb2036fdf7d3c7756cd4.

[2017-04-12 18:06] #114 closed

[2017-04-17 03:28] ft20082 opened #119 "export db or table error"
This repository contains only Docker integration of phpMyAdmin.

docker export error.

2017/04/17 03:24:10 [error] 26#26: *12975 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Cannot 'break' 2 levels in /www/export.php on line 864" while reading response header from upstream, client: 192.168.1.99, server: _, request: "POST /export.php HTTP/1.0", upstream: "fastcgi://unix:/var/run/php/php-

[2017-04-19 05:06] ft20082 commented on #119
need php lower version, like php5.5.x

[2017-04-19 05:06] #119 closed

[2017-04-24 12:07] SamMousa opened #120 "Increase default gateway timeout"
Since the only thing that runs in this container is PHPMyAdmin it makes sense to have a long(er) gateway timeout.
The file upload limit has already been set to 512mb, but it is not possible to import files > 100mb without exceeding the time limit and getting a 504 gateway timeout.

http://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_read_timeout

[2017-04-28 08:17] lawrence-kaybob commented on #101
Hello, I'm using phpMyAdmin 4.7.0 on Docker along with [traefik](http://traefik.io) reverse proxy. I'm experiencing a similar issue on setting up subdirectory.

I used following `docker-compose.yml` file, with `PMA_ABSOLUTE_URL`
[code]

Also, I set up reverse proxy to point phpMyadmin server with request URL's path to `/phpmyadmin` But the thing is phpMyAdmin launches at `/`. I ran `curl http://IN

[2017-04-28 09:49] nijel commented on #119
Indeed phpMyAdmin 4.0.10.20 does not support PHP 7.

[2017-04-28 09:55] #120 closed

[2017-04-28 10:03] nijel commented on #101
The container will always serve phpMyAdmin on /, you need to rewrite the URL in your reverse proxy.

With haproxy example we have in configuration it is done by `reqirep  ^(GET|POST|HEAD)\ /phpmyadmin/(.*)     \1\ /\2`. If you can provide example for traefik  we can include it in documentation as well.

[2017-04-28 10:06] #117 closed

[2017-04-28 10:46] lawrence-kaybob commented on #101
Thanks in advance 👍  While I'm looking through docs, I just want to check one thing. As I said, I get `index.php` correctly,  but when Stylesheet file is requested from `index.php`, it is requested as following URL.

![image](https://cloud.githubusercontent.com/assets/5652281/25525374/87aadf44-2c49-11e7-8368-9257f78ea2fd.png)

If my assumption is right, there should be `/phpmyadmin` prefix in abov

[2017-05-02 13:24] chrisburrell opened #122 "Unable to export datasets for large queries/large results."
One of the changes recently has meant we can longer 'EXPORT' queries. We get a "token error". There's nothing in the logs that helps diagnose this. Small queries seem to be ok (sometimes), but larger queries are always prevented (not sure if it's the SQL text or if it's the data results that cause the issue).

Rolling back to the latest 4.6.6-2 release seems to fix the issue.

[2017-05-02 18:58] lawrence-kaybob commented on #101
Hello again. Sorry for messing up issue thread. I finally found a way to access phpMyAdmin behind traefik. The reason why upper issue happened is a matter of traefik.
Currently, traefik doesn't support backend-by-backend request URL replacement. It **merely** matches the URL path, or strips the mathed URL path, unlike haproxy or nginx does. (I didn't realize this was a big deal, since traefik is m

[2017-05-03 19:23] mastacheata commented on #50
As far as I understand it, there's no need to set up any networks (which is indeed complex), because there is a bridged network by default that has DNS names corresponding to the name label for all containers running in that very network,

[2017-05-04 10:46] nijel commented on #122
This has been fixed for 4.7.1, see phpmyadmin/phpmyadmin#13182.

[2017-05-04 10:46] #122 closed

[2017-05-04 10:54] nijel commented on #101
Thanks, I've added your example to our docs.

[2017-05-05 14:20] #109 closed

[2017-05-09 13:13] nijel commented on #115
Reopening to remove the dependency on 4.7.1 release.

[2017-05-17 08:35] emanuelb opened #124 "Separate PHP error log from NGINX error log"
if PHP error occur it will be added to nginx error file at (as STDERR used by default):
[code]

I think it will be better to seperate them, and have unique error file for PHP errors, by using error_log directive with fullpath such as /var/log/php-error.log (will also require creating it in run.sh with chown to nobody):
https://secure.php.net/manual/en/errorfunc.configuration.php#ini.error-log

[2017-05-18 20:57] emanuelb opened #125 "supervisord CRIT logs & setcap usage instead of root"
1. after running the container, the content of "/var/log/supervisord.log" is:
CRIT Supervisor running as root (no user in config file)
CRIT Server 'unix_http_server' running without any HTTP authentication checking

more information about first message:
https://stackoverflow.com/questions/19918177/starting-supervisord-as-root-or-not#22048473

the second message can be fixed by adding dummy user &

[2017-05-30 17:23] devmarcelosantos commented on #37
Hello, how do I add themes to the phpmyadmin image? I can not find the phpmyadmin folder in ubuntu and the docker-compose -it CONTAINER bash command does not work either.
Sorry for the ignorance, I'm new to this.
The name of my container is phpmyadmin.php4devs. If you can help me, thank you very much!

[2017-06-01 13:30] nijel commented on #37
Seems this deserves at least some documentation...

[2017-06-01 13:31] #37 closed

[2017-06-01 19:02] bs-thomas opened #126 "HAProxy Health Checks failing due to 405 Not Allowed (Nginx) error returned by phpmyadmin/phpmyadmin docker container."
Hello there,

I'm running phpmyadmin/phpmyadmin docker container behind an haproxy as follows:

    backend ecs_app_servers_phpmyadmin.beamstyle.com.hk
      balance roundrobin
      option redispatch
      option forwardfor
      option httpchk OPTIONS /
        server i-0cadacf3af0ecc8b3 172.31.31.31:8000 weight 8 maxconn 120 check inter 10s

However, the health checks are not passing, returning

[2017-06-02 15:08] nijel commented on #126
Why are you actually using OPTIONS request for this and not HEAD?

See also https://github.com/phpmyadmin/docker/issues/64

[2017-06-02 17:59] MarvinMenzerath opened #127 "Missing 4.7.1 tag"
Hi,

according to https://github.com/phpmyadmin/docker/tags there is no git tag for the recent 4.7.1 release.
This seems to be the reason why https://hub.docker.com/r/phpmyadmin/phpmyadmin/tags/ doesn't list the release.

Could you please add this tag to enable the usage of this exact release?
Thank you!

[2017-06-02 18:10] nijel commented on #127
Tag added.

[2017-06-02 18:10] #127 closed

[2017-06-18 14:03] emanuelb opened #129 "Remove unused Root CAs"
phpmyadmin use outgoing connections only to *.phpmyadmin.net websites (See httpRequest function) which are signed by LetsEncrypt, thus it's possible to remove unused Root CAs from the container.

[2017-06-18 14:19] nijel commented on #129
Captcha can be also enabled, so we need the ones for Google as well.

Maybe I'm missing some other remote service which could be used, it should be deeper checked prior to removal...

[2017-06-18 14:42] emanuelb commented on #129
Right, it's called from 3rd-party code (recaptcha library) thus need to have look at other libs network usage also.
Regarding Google a pinning probably can be accomplished as they use only small subset of Root CAs (4 according to https://www.imperialviolet.org/2011/05/04/pinning.html which point that it's located in chromium source-code as well, to check in case they changed the list)

[2017-06-18 15:25] emanuelb commented on #129
I Reported the issue to Recaptcha Library:
https://github.com/google/recaptcha/issues/165

[2017-06-19 10:22] emanuelb commented on #115
The dependency can be removed now as 4.7.1 is already set in Dockerfile

[2017-06-19 10:41] nijel commented on #115
Thanks for poiting out!

[2017-06-19 10:42] #115 closed

[2017-06-20 05:05] emanuelb commented on #129
The mechanism need to rely on upstream pinning (thus breakage will be likely upstream fault,not need to maintain the white-list here), for phpmyadmin that mean parse the certificates in /libraries/certs/ directory.

[2017-06-23 16:16] swamyuma opened #130 "404 Not Found Nginx error"
I am getting a `404 Not Found nginx` error when I visit `http://<host-IP:8181/phpmyadmin` with the following lines in a `docker-compose.yml`

[code]

[2017-06-23 21:45] swamyuma commented on #130
Issue resolved by visiting

`http://<host-IP>:8181/`

[2017-06-23 21:45] #130 closed

[2017-06-26 21:30] paulobezerr commented on #107
I think we could do some think like this:

[code]

First of all, use an environment variable to choose if HTTPS will be used or not.
If the `/keys_directory/server.{key,crt}` doesn't exists, generate the keys as example:

[code]

[2017-06-29 15:21] emanuelb opened #131 "Add verification for snapshot downloads"
Snapshot downloads from `edge-4.7` & `edge-4.8` branches are not passed verification (PGP signing with developer keys can't be used as it's auto daily builds...)
possible solutions:
1. use bot that update the Dockerfile to contain sha256 verification (the hash inside the Dockerfile) everytime a new snapshot is available. (does it may cause syncing problems? aka old Dockerfile files won't work as t

[2017-06-30 13:36] emanuelb commented on #126
phpmyadmin doesn't expect cross-origin-ajax requests, thus it's not need OPTIONS method enabled, besides checking using OPTIONS is problematic as it check only webserver response (nginx work), but not if php-fpm work (which HEAD will check by looking for 200 OK response)

[2017-07-02 15:24] jaraco opened #132 "Support SSL-only connections"
I'd like to employ phpMyAdmin against an Azure-hosted MySQL instance, which by default enforces SSL. Deploying this container against such an instance results in an error message:

[code]

I see that phpMyAdmin itself supports SSL connections to the server, but the functionality is not supported except (possibly) through the user-defined settings hook (/etc/phpmyadmin/config.user.inc.php).

I've f

[2017-07-05 18:08] nijel commented on #132
This is supported in phpMyAdmin, you can already do that using [custom configuration](https://docs.phpmyadmin.net/en/latest/setup.html#customizing-configuration), though we can certainly export the SSL options to Docker environment.

[2017-08-06 10:32] eKristensen opened #133 "Unable to change timezone"
I cannot change the timezone inside the docker. the TZ variable is ignored and the typical files for setting the timezone is also ignored /etc/timezone and /etc/localtime

Its set to UTC as per default, but as i live en the Europe/Copenhagen timezone, its two hours offset.

How do i change that?

[2017-08-06 13:01] nijel commented on #133
See https://github.com/gliderlabs/docker-alpine/issues/136, there is currently no direct support for changing timezone in our container.

[2017-08-06 13:03] eKristensen commented on #133
Okay...

[2017-08-06 13:10] nijel commented on #133
I didn't want to say it doesn't make sense to add it though :-).

[2017-08-09 21:15] muhahacz opened #134 "alpine+lighttpd+php7-fpm does not work."
alpine+lighttpd+php7-fpm does not work.
For example with -e PMA_ARBITRARY=1, seems that config is not propertly loaded. Any help?

[code]

[2017-08-09 21:49] nijel commented on #134
1. Why are you using alpine:egde? It's quite possible that something is broken there.
2. Why don't you use our container, but hack your own?
3. We certainly can't support your own container.

PS: At first sight you're missing [this](https://github.com/phpmyadmin/docker/blob/master/Dockerfile#L35), but that's probably not all what is wrong in your Dockerfile.

[2017-08-09 21:49] #134 closed

[2017-08-09 22:22] muhahacz commented on #134
1. It will be same result as alpine:latest
2. Im usign lighttpd
3. i does not matter, im asking for advice.

PS.: I have config.inc.php from your docker github here /var/www/localhost/htdocs/phpmyadmin, ( its the default location ) Also tried `sed -i "s@define('CONFIG_DIR'.*@define('CONFIG_DIR', '/etc/phpmyadmin/');@" /www/libraries/vendor_config.php` but i does not work.

Where should be config.i

[2017-08-28 06:25] warrence commented on #83
Hi, I need this too, any solution for this now?

[2017-09-02 13:54] vroad opened #135 "Cannot access to phpmyadmin container created with Docker Toolbox for Windows"
I'm trying to run phpmyadmin on Docker Toolbox for windows.

I cannot access the page outside docker-machine at all. If I try to access from Windows Chrome, I just get ERR_CONNECTION_REFUSED error.

However it's possible to access phpmyadmn page inside container with a command like this:
```docker exec -i -t phpmyadmin_testing curl localhost```

What does this mean? Is the server blocking accesses

[2017-09-02 14:08] #135 closed

[2017-09-02 14:09] vroad commented on #135
I've just noticed that I was accessing from wrong port.

[2017-09-11 10:44] sgohl opened #136 "use mysql socket"
How to use mysql socket?

`-e PMA_HOST="/var/run/mysqld/mysqld.sock" `

not working. Unknown MySQL server host '/var/run/mysqld/mysqld.sock' (-2)

[2017-09-15 17:28] nijel commented on #136
Using socket is not supported right now in the environment variables, you can still override the configuration, see https://docs.phpmyadmin.net/en/latest/setup.html#customizing-configuration

[2017-10-20 13:44] kanishkdudeja opened #138 "Enable exposed port to be configurable to run container in host networking mode on a port different than 80"
If I'm running the container with --net=host, it can only be reached on port 80 (ports mapping is disabled when network mode is host).

It would be great to have the possibility to set the port where nginx will listen to with an environment variable (an example is this image: https://github.com/mesoscloud/chronos).

[2017-10-24 15:55] sa3dany commented on #138
I looked a bit into this and found this mentioned in the official ngix docker repo

https://github.com/docker-library/docs/tree/master/nginx#using-environment-variables-in-nginx-configuration

As of now I don't think envsubst is included by default with alpine. We need to include this when building the image:
`RUN apk add --update $RUNTIME_DEPS && apk add --virtual build_deps $BUILD_DEPS && cp /us

[2017-11-10 16:44] binary64 opened #139 "413 Request Entity Too Large"
nginx error `413 Request Entity Too Large`

When trying to upload a 750 MB .sql file with the following config.user.inc.php:-

[code]

[2017-11-13 11:26] nijel commented on #139
The nginx configuration would have to be updated as well:

https://github.com/phpmyadmin/docker/blob/30857caf5c5ef4343e929ef19f062ac065ffae6e/etc/nginx.conf#L41

[2017-12-12 07:37] lohe opened #141 "Docker phpmyadmin after login: 504 Gateway Time-out"
Not sure, if that an issue or not, but cannot find any place to ask the question. I inserted here https://stackoverflow.com/questions/47750788/docker-phpmyadmin-after-login-504-gateway-time-out , but no responses.

Trying to use docker phpmyadmin to connect several different mysql's both local (containers) and remote servers. All works fine till I start to log in - connecting to remote server work

[2017-12-12 09:07] lohe commented on #141
Okei, figured it out myself. Not sure what exactly fixed it, but this link
[https://www.dgendill.com/posts/programming/2016-07-03-docker-mysql-notes.html](url)
was big help.

[2017-12-13 12:27] p1t3r opened #142 "phpMyAdmin can not connect to MySQL when user "REQUIRE SSL""
I am trying to establish a connection to MySQL database using certificate. The MySQL server is running on the same host and is not dockerized.
User is configured for all hosts (%) with password and "require ssl" option. He has access SELECT to all databases.

When using mysql client:
`$ mysql -utest0 -p --ssl-ca=./ca-cert.pem --ssl-cert=./public.pem --ssl-key=./private.pem -hsrvdb.com`
either from

[2017-12-14 01:53] kujiy opened #143 "Hard to handle many servers with `PMA_VERBOSES/PMA_HOSTS/PMA_PORTS`"
Since it is hard to handle comma-separated `PMA_VERBOSES/PMA_HOSTS/PMA_PORTS` for more than ten database servers, I'm working on making a tool that makes the comma-separated envs from python dictionary.

Current my envs are like this

[code]

I thought this tool could be in this project, however, it seemed more straight to place an additional server list that is a `php file` in a certain place wit

[2017-12-14 09:49] nijel commented on #142
The snippet you've posted for config.user.inc.php will not work as expected as the $i is already 2 here and you probably want to modify the first server block. Indeed it's a bit unexpected, so I'm going to fix this, as a workaround you can set `$i = 1;` at top of your config.user.inc.php.

[2017-12-14 09:50] #142 closed

[2017-12-14 09:57] nijel commented on #143
You can use PHP file as well to define the configuration, see https://docs.phpmyadmin.net/en/latest/setup.html#customizing-configuration (I've just added example for your case there).

[2017-12-14 09:57] #143 closed

[2017-12-15 08:04] p1t3r commented on #142
Hi nijel,

thanks for quick response.

I get now this error:

![phpmysql_err0](https://user-images.githubusercontent.com/16124845/34032526-dcde9842-e176-11e7-9b48-b261a93a40b1.jpg)

[2017-12-15 08:13] nijel commented on #142
Maybe wrong permissions or format?

[2017-12-18 08:36] p1t3r commented on #142
Thanks for the hint. I also thought it may be the case. The file permissions have been reproduced from another host where the connection was successful. Also the certificates has been imported from there. Unfortunately, we get the same result.

[2017-12-18 10:16] nijel commented on #141
Good you've fixed it yourself. Anyway to debug such problems, it's best to look at server logs, this can be achieved by following (replace phpmyadmin by name of your phpmyadmin container):

[code]

[2017-12-18 10:16] #141 closed

[2017-12-18 10:23] nijel commented on #142
It also might be failed validation (PHP is in this unfortunately too strict in many cases). Can you try disabling [$cfg['Servers'][$i]['ssl_verify']](https://docs.phpmyadmin.net/en/latest/config.html#cfg_Servers_ssl_verify)?

[2017-12-18 13:11] p1t3r commented on #142
Thanks for quick response. Unfortunately, it has not changed anything :(

[2017-12-18 13:54] nijel commented on #142
Are you sure the permissions to read that file are correct? IMHO it must be permissions issue if the ssl verification is not the culprit here.

[2017-12-19 09:15] p1t3r commented on #142
I have used the default permissions (644) for all three *.pem files. I have also modified them, by making them either more or less restrictive. The owner of the files is 'root'.

[2018-01-01 18:23] J0WI commented on #51
How about using tags to support multiple variants?
Most 'official' php application containers support an apache and a fpm variant.

[2018-01-02 10:19] nijel commented on #51
Honestly I don't see much benefits in this and we don't seem to have much manpower for improving Docker images, so I don't think we're going to implement this ourselves. Pull requests implementing this might be accepted given that all images are covered by automated tests and there is not much additional maintenance burden.

[2018-01-04 18:29] mstenz opened #146 "Docker User config does not get recognized."
Hi,
i have created a docker service with the following command:

--name phpmyadmin \
--replicas 1 \
--network internal \
--mount type=bind,source=/storage/docker1/phpmyadmin/config.user.inc.php,target=/etc/phpmyadmin/config.user.inc.php \
phpmyadmin/phpmyadmin:4.7

the container is running, but it shows a normal login page and only allows to use default "db" as hostname, even I see that my config

[2018-01-04 19:15] nijel commented on #146
Don't you miss the `<?php` at top of the file?

[2018-01-04 19:26] mstenz commented on #146
@nijel no, i have only pasted a part of the file

[2018-01-16 19:15] Farfaday opened #147 "502 error on logout under a load-balancer"
Hi,
we are using phpmyadmin/phpmyadmin:4.7.7-1 in a mesos/marathon environment, with marathon-lb in front of it.  PMA_ABSOLUTE_URI is set. Everything works fine, only the logout button leads to a 502 error.

I could get from the log /var/log/nginx-error.log  of the container:
[code]

I tried some answers of that post  https://stackoverflow.com/questions/23844761/upstream-sent-too-big-header-while-

[2018-01-16 19:32] nijel commented on #147
Can't you just increase limit on headers? The problem probably is in cookies.

PS: The 4.8.0 release will use much less cookies, see https://github.com/phpmyadmin/phpmyadmin/issues/11688

[2018-01-16 19:43] Farfaday commented on #147
I tried adding
[code]
to **/etc/nginx/nginx.conf**  and then did a **supervisorctl restart nginx** but it doesn't help.

What do you mean exactly ?

[2018-01-21 13:58] Giampa opened #148 "Enter bash"
I tried to enter bin/bash but I get:

OCI runtime exec failed: exec failed: container_linux.go:296: starting container process caused "exec: \"/bin/bash\": stat /bin/bash: no such file or directory": unknown

Command:

docker exec -ti <container_id> /bin/bash

Docker-compose:

version: '3'
services:
  pma:
    image: phpmyadmin/phpmyadmin
    ports:
      - '80:80'
    environment:
      - PMA_ARB

[2018-01-21 14:23] #148 closed

[2018-02-12 13:37] #147 closed

[2018-02-12 14:20] Farfaday commented on #147
Works ! Many Thanks!

[2018-02-22 09:18] ViceIce opened #150 "Security release 4.7.8 missing on docker hub"
Please push the 4.7.8 release to the docker hub.

Regards
Michael

[2018-02-22 09:23] nijel commented on #150
It was there, just the tag was missing. I've just pushed that as well.

[2018-02-22 09:23] #150 closed

[2018-02-22 09:35] ViceIce commented on #150
What about the `latest` tag? Should be updated too?

[2018-02-22 12:26] Farfaday opened #151 "Possiblity to configure the phpMyAdmin configuration storage"
Hi,
Would it be okay to add the possibility to configure the phpMyAdmin configuration storage via Env vars ?

I would add the following vars:
[code]

I can work on providing a PR for this.
Thanks!

[2018-02-22 22:26] nijel commented on #150
That should update automatically (it's using latest tagged release). As you can see `latest`, `4.7` and `4.7.8-1` are in sync:

![screenshot-2018-2-22 phpmyadmin phpmyadmin - docker hub](https://user-images.githubusercontent.com/212189/36567736-c060c2b6-1827-11e8-99d1-809e11f8b86b.png)

[2018-02-22 22:27] nijel commented on #151
Sounds like an useful addition.

[2018-02-23 09:13] ViceIce commented on #150
As i looked it wasn't updated. Thanks.

[2018-02-23 10:00] nijel commented on #150
AFAIK the builds are processed sequentially on Docker Hub, so it takes some time for all of them to appear.

[2018-02-24 11:27] MetalArend commented on #108
An example implementation can be found in the wordpress container: https://github.com/docker-library/wordpress/blob/master/docker-entrypoint.sh

[2018-02-27 07:57] nijel commented on #108
Patches are certainly welcome

[2018-03-21 10:18] arikardnoir commented on #18
ERROR: for e53d0530f50b_laradock_phpmyadmin_1  Cannot start service phpmyadmin: driver failed programming external connectivity on endpoint laradock_phpmyadmin_1 (9c1b7be8de226328963e74142f6fb0be50874c30027aee39290448ae3890387b): Error starting userland proxy: Bind for 0.0.0.0:8080 failed: port is already allocated

how can't I fix this? on Mac?

[2018-03-23 16:44] adixon opened #153 "recommended varnish configuration?"
Do you have a recommended varnish (vcl) configuration to work with this? When I'm running this behind my varnish, I get a blank screen - it's loading everything but giving me javascript console errors. I assume it's due to the one of the headers that varnish is mangling along the way (i.e. the x-forwarded-for, etc.), since it appears that nginx has some expectations in this regard.

I did use the

[2018-04-04 14:38] laurencefass opened #154 "cannot login when running external and arbitrary phpmyadmin containers."
summary: can't connect to mysql. i am unsure of the correct environment variable values. is PMA_HOST an ip address or a docker container?
start mysql...

`# docker run --name mysql -e MYSQL_ROOT_PASSWORD=admin -d mysql:latest
`

check its running:

# docker ps -a
CONTAINER ID        IMAGE                   COMMAND                  CREATED             STATUS              PORTS

[2018-04-04 14:56] laurencefass commented on #154
i've tried every possibility for the PMA_HOST (container name, ip address etc) without success

[code]

quick check out containers...

[code]

running in the browser gives the same errors as above.

i've tried every possible value for the PMA_HOST 0.0.0.0 127.0.0.1 and 192.168.99.100. none of them lead to a successful login.

[2018-04-15 00:13] hemberger opened #156 "Warning about TempDir in 4.8.0 image"
I'm seeing the following warning after updating to the phpMyAdmin 4.8.0 docker image:
[code]
Is this something we should be responsible for creating ourselves and mounting into the container, or is this an issue with the permissions set in the image?

Thanks for any help you can provide!

[2018-04-15 02:44] ibennetch commented on #156
I think this should be fixed. I think it was an oversight with the Docker image when the template engine was added for 4.8.0.

[2018-04-18 06:01] nijel commented on #156
Fixed by https://github.com/phpmyadmin/docker/pull/155

[2018-04-18 06:01] #156 closed

[2018-04-18 06:02] nijel commented on #151
Fixed by https://github.com/phpmyadmin/docker/pull/152.

[2018-04-18 13:25] ibennetch opened #157 "edge-4.8 not updated"
It appears to me as if the edge-4.8 tag is not updating.

[2018-04-18 13:43] nijel commented on #157
The root cause is that snapshots are not being updated, therefore the docker images can not be updated. Additionally there is problem that the edge-4.8 branch is not up to date.

[2018-04-18 14:10] nijel commented on #157
There were several problems with snapshots (missing yarn, old PHP version, wrong composer configuration), but that is now sorted out and it includes 5.0 snapshots: https://www.phpmyadmin.net/downloads/

The edge-4.8 image is just being built: https://hub.docker.com/r/phpmyadmin/phpmyadmin/builds/bmyyoijznmugitjnzwemccw/

[2018-04-18 14:10] #157 closed

[2018-04-24 10:45] casperbiering opened #158 "latest not being updated"
The "lastest" build on docker hub does not container the critical security fix for PMASA-2018-2 neither the fix for "Warning about TempDir in 4.8.0 image #156".

Is it possible to get it updated? Thanks.

[2018-04-24 11:39] ibennetch commented on #158
Thanks for calling this to our attention.

The problem was related to how we label security fixes (4.8.0.1-1) which is seen by Docker as an older release than version 4.8.0-2.

If you could, please confirm that the fix is now included (your Dockerfile should include `ENV VERSION 4.8.0.1`).

I believe this is the first time such a situation has occurred since we offer a Docker image and I've adjust

[2018-04-24 11:39] #158 closed

[2018-04-24 13:07] casperbiering commented on #158
It works flawlessly now - thanks for the quick response.

[2018-04-27 04:53] maximkrusina opened #159 "Add support for creating internal DB "phpmyadmin" via ENV value"
When using this image, I'm getting this warning message, when logged into PMA:

The phpMyAdmin configuration storage is not completely configured, some extended features have been deactivated

It should be nice to add the creation of this DB automatically, probably using some ENV variable.

[2018-04-27 10:15] Limbolindi commented on #23
so im giving up.
PLEASE HELP :cry:

have read and tried a whole lot, and nothing will work:

Yeha i have tried
PMA_HOST: db
(with links: - sqlDB:db)
 :-1:

PMA_HOST: sqlDB
(with links: - sqlDB:sqlDB)
 :-1:

PMA_HOST: mysql
(with links: - sqlDB:mysql)
 :-1:

Even tried PMA_HOSTS and tried all kind of links :rofl:

so PLEAS help me, i thought docker is cool, but im starting to HATE :rage:  it ;D

[c

[2018-05-01 13:54] r3c4ll opened #160 "Can't make it work behind Nginx reverse proxy"
I'm having an issue with phpmyadmin behind a nginx reverse proxy, my docker-compose.yml:
[code]

My /etc/hosts:
[code]

So joomla.reverse.com is working fine, but joomla-pma.reverse.com return a 503 Service Temporarily Unavailable by nginx/1.13.12.

Any help is welcome!

[2018-05-04 08:23] poolsimon opened #161 "Nginx gateway timeout"
When importing a large SQL I experience a 504 gateway timeout by nginx. How can I prevent this. I already created my own Dockerfile with this

[code]
 with uploads.ini
[code]
and site.conf
[code]
It does not solve the problem, any suggestions how to do it? I think for a local setup it should be easy to set the time limit to be long

[2018-05-10 16:11] htpcBeginner opened #162 "php-fpm entered a fatal state, too many start retries too quickly"
I have been trying to get this phpmyadmin container up and running for days with no luck. Any help would be much appreciated.

Here is the docker-compose log for the container:

[code]

Here is my docker-compose file:

[code]

[2018-05-14 04:13] gnumoksha opened #163 "Slow import"
Hi. phpMyAdmin takes ~2 minutes to import a SQL dump of 1.4MiB.

[code]

[code]

docker-compose.yml
[code]

[2018-05-14 16:39] ibennetch commented on #163
This is probably the same as https://github.com/phpmyadmin/phpmyadmin/issues/14123.

Basically, it's in the issue tracker as a problem, so it's a known issue at this point and there has been some headway made towards finding the root cause, but a fix hasn't yet been implemented.

[2018-05-14 20:10] htpcBeginner commented on #162
works now. My /var/lib/docker folder was messed up due to all the previous trial and errors. Deleted it and recreated everything.

[2018-05-14 20:10] #162 closed

[2018-05-15 02:34] gnumoksha commented on #163
Thank you for the quick reply. Is there any test I can do or information I could provide?

[2018-05-17 13:04] Soullivaneuh opened #164 "PMADB introduction broke config auth without password"
With the following `docker-compose.yml` extract:

[code]

The connection without password is not working anymore:

![image](https://user-images.githubusercontent.com/1698357/40178956-4479c17c-59e3-11e8-9f3b-5c54d407906c.png)

According to [this blame](https://github.com/phpmyadmin/docker/blame/5dd9a0f01561fd6def0883586c9609f80d3c9dad/etc/phpmyadmin/config.inc.php), the bug was introduced in https:

[2018-05-17 14:09] #164 closed

[2018-05-23 12:19] macwinnie opened #166 "502 after a while of pma running"
phpMyAdmin is running with my system behind a Træfik reverseproxy (therefor the connection to `proxy` Docker network) i.e. behind the domain pma.domain.tld and connects to another docker container `database` (MariaDB latest) within the `internal` Docker network:

[code]

The proxy is configured to listen only on port 433 – https.

It's working fine for some seconds – and than results in a 502. The

[2018-06-04 22:23] J0WI commented on #56
I think #51 is one of the major changes that need to be done for this.
I stumbled over a few big changes while playing around with multiple base images:

- [ ] the `etc/php.ini` is very confusing. All comments and default values should be removed. The custom values can be copied to `/usr/local/etc/php/conf.d/php-phpmyadmin.ini`.
- [ ] default values like the upload limit should not be changed (see

[2018-06-05 18:34] GerkinDev commented on #160
Hi,

First things first, please format correctly your config file using code tags. It's not really readable that way, and it won't encourage others to answer.

Then, about your problem, it seems you have a typo: `VIRTUALHOST` in your `joomla-php` service section should be `VIRTUAL_HOST`.

[2018-06-05 19:15] nijel commented on #56
My feedback on this is: patches welcome. We really do not have anybody in the team interested in the docker and this is really best effort image I could create with my almost zero Docker knowledge...

[2018-06-05 20:56] J0WI opened #169 "Broken tests due #165?"
Tests seems to be broken since #165.

[2018-06-05 20:57] J0WI commented on #56
I've added #168 but #169 should be considered first.

[2018-06-08 14:01] gervaud opened #170 "Possibility to deactivate SSL connection"
Hello,
I upgraded phpmyadmin container from 4.6.6-2 to 4.8.1 and I get this error/warning message on the phpmyadmin login page:

I don't use SSL between phpmyadmin server and the db server because it is in a secured AWS environment.
Is there a way to configure the container to deactivate this SSL check ?

[2018-06-09 12:28] nijel commented on #169
It doesn't seem to be related to #165, the actual error is that it fails to connect to MySQL:

Probably some change in the PHP container as it affects both MariaDB and MySQL servers.

[2018-06-09 12:30] nijel commented on #169
See also https://github.com/phpmyadmin/phpmyadmin/issues/14220

[2018-06-10 21:18] J0WI commented on #170
I assume you're searching for this?
https://docs.phpmyadmin.net/en/latest/config.html#cfg_Servers_ssl
https://github.com/phpmyadmin/docker#adding-custom-configuration

[2018-06-10 21:44] J0WI commented on #56
Do you care about backwards compatibility or will current users just be migrated to the new apache based image?

[2018-06-10 23:06] ibennetch commented on #170
This actually looks like another instance of https://github.com/phpmyadmin/phpmyadmin/issues/14184 to me.

[2018-06-12 14:53] J0WI commented on #169
That seems to be true for MySQL, but MariaDB still fails in the `docker-compose.testing.yml` test.

[2018-06-12 15:46] J0WI commented on #169
See #175

[2018-06-12 19:20] nijel commented on #169
Fixed by https://github.com/phpmyadmin/docker/pull/175

[2018-06-12 19:20] #169 closed

[2018-06-12 22:44] J0WI commented on #169
@nijel do you have an idea about the broken MariaDB 10.3 test?

[2018-06-13 05:44] nijel commented on #169
What is the failure there?

[2018-06-13 14:18] J0WI commented on #169
See https://travis-ci.org/phpmyadmin/docker/jobs/391318946#L1977-L1983

[2018-06-13 18:51] nijel opened #176 "Broken waiting for db server in tests"
The code for waiting for database server to be up is not really working reliably. The problem is probably in using curl instead of speaking native mysql protocol.

Example test failure:

https://travis-ci.org/phpmyadmin/docker/jobs/391318946#L1977

Related code:

https://github.com/phpmyadmin/docker/blob/d53771b561093b2993c939424dd6560ea1c12454/testing/test-docker.sh#L30-L49

It should probably ra

[2018-06-13 18:51] nijel commented on #169
I've created https://github.com/phpmyadmin/docker/issues/176 for that.

[2018-06-14 11:33] kenden opened #177 "point latest to 4.8.1"
The latest release in this git repo is `4.8.1`, yet image `latest` in dockerhub is not the same as image 4.8.1.

Or if git release `4.8.1` is not stable, please indicate it (`4.8.1-beta`, `4.8.1-rc`...) so users do not expect latest to be it.

[2018-06-14 13:56] ibennetch commented on #177
Latest is indeed 4.8.1. I'm not certain off hand why latest isn't updated correctly. Maybe @nijel has some idea about this.

Thanks for the report, we'll look in to it.

[2018-06-14 14:27] nijel commented on #177
Both were built at same time, so they should be same:

https://hub.docker.com/r/phpmyadmin/phpmyadmin/builds/b7jhubuhb6cht74nghgllpv/
https://hub.docker.com/r/phpmyadmin/phpmyadmin/builds/bpt3ukjzyyccefyafkfdbcg/

[2018-06-14 17:07] kenden commented on #177
They have different image ids though
[code]

[2018-06-14 19:59] nijel commented on #177
Maybe some of the deps was rebuilt between the builds. I have no clue how to copy images, so both latest and release images are built separately.

[2018-06-14 22:15] kenden commented on #177
@nijel does this help?
https://docs.docker.com/engine/reference/commandline/tag/

`docker tag phpmyadmin/phpmyadmin:4.8.1 phpmyadmin/phpmyadmin:latest`

Then
[code]

[2018-06-15 06:29] nijel commented on #177
So far everything is built on docker hub, we don't push anything manually...

[2018-06-22 15:22] alewkinr commented on #142
Is there any solution for that problem?
I have the same issue

[2018-06-26 17:43] Loxeno opened #178 "Block access for specific IP"
Hi,

I would like to know if this is possible to restrict access based on IP.

I edit /etc/nginx.conf with the following :
http {
[...]
    include /etc/nginx/conf.d/*.conf;
[...]
}

I added /etc/nginx/conf.d/block_ip.conf with the following
allow x.x.x.;
deny all;

In order to disable /etc/nginx/conf.d/default.conf, I mount an empty file in this specific path.

Don't work.
I tried the include in

[2018-07-03 21:27] jn-simonnet opened #179 "DNS name resolution not working"
Whether with latest tag (4.8) or 4.7 or 4.6, I found that it is possible to connect to a mysql docker instance through the IP address. However, using a DNS name does not work and results in a timeout. It seems that names do not resolve. Missing the required libs for name resolution in the container ?

[2018-07-04 04:53] mictadlo opened #180 "disable auto login"
Hi,
I have the following phpmyadmin entries in my `docker-compose.yml` file:

[code]
When I open phpmyadmin is automatically log in.

How is it possible to disable auto login?

Thank you in advance,

Michal

[2018-07-04 06:29] nijel commented on #180
Just don't specify  PMA_PASSWORD and PMA_USER ;-).

[2018-07-04 06:29] #180 closed

[2018-07-04 19:50] jn-simonnet commented on #179
OK. Found the root cause of the problem. The issue is that the resolv.conf file points to DNS servers 8.8.8.8 and 8.8.4.4. Hence when resolving a local network host, there is no chance that it gets resolve, we need to point to local DNS servers instead of INternet ones.
Solution is to edit (Case of UBuntu host) the /etc/default/docker file to add DNS servers in place of the default ones.
THis issu

[2018-07-18 17:27] vladyslavstartsev opened #181 "Can't mount volume with docker-compose"
I use `laradock`.
And I can't mount  - `./phpmyadmin/config/config.user.inc.php:/etc/phpmyadmin/config.user.inc.php`
Looked [here](https://docs.phpmyadmin.net/en/latest/setup.html?highlight=docker-compose#customizing-configuration-file-using-docker-compose)
my `docker-compose.yml` phpmyadmin section looks like this
[code]
I do `docker-compose build --no-cache phpmyadmin` and then `docker-compose u

[2018-07-30 09:08] lukasa1993 opened #182 "health check"
is it possible to add health check endpoint simple
`{"status":"pass"}` would be enough

[2018-07-31 06:14] mictadlo opened #183 "Cannot connect: invalid settings."
Hi,
~I posted the same problem [here](https://serverfault.com/questions/924190/cannot-connect-invalid-settings-phpmyadmin).~

Currently, phpmyadmin is not able to connect to mariadb via docker-compose and I can't figure why.

`docker-compose.yml`:

[code]

`mysql/rna.sql`

[code]

`Dockerfile:`

[code]

What did I miss?

Thank you in advance.

Michal

[2018-08-01 07:04] crzdeveloper commented on #146
I solved similar problem by setting the correct permissions to `/etc/phpmyadmin/config.user.inc.php`.
phpMyAdmin runs as nobody:nobody, so the permissions can be 0644

`chmod 0644 /etc/phpmyadmin/config.user.inc.php`

[2018-08-16 01:21] baotongshi opened #185 "Failed to load phpMyAdmin configuration"
I run the MySQL.5.7 container and phpMyAdmin.4.7 container on my vm by using the below command,

- docker run  -p 3306:3306 -v /data/appdata:/var/lib/mysql -e MYSQL_ROOT_PASSWORD=xxx --name mysqlsvr -d mysql:5.7
- docker run  --link mysqlsvr:db -p 8080:80 -d phpmyadmin:4.7

but when I access the phpMyAdmin web, I got the error
_Failed to load phpMyAdmin configuration (./../etc/phpmyadmin/config.in

[2018-08-19 19:55] s0m30n3 commented on #136
I wrote a simple patch to add socket support via PMA_SOCKET and PMA_SOCKETS environment variables.

[0001-Specify-MySQL-socket-file-via-PMA_SOCKET-and-PMA_SOC.patch.txt](https://github.com/phpmyadmin/docker/files/2300617/0001-Specify-MySQL-socket-file-via-PMA_SOCKET-and-PMA_SOC.patch.txt)

[2018-08-19 20:04] nijel commented on #136
Would you please mind submitting this as a pull request?

[2018-08-20 16:18] bittner opened #187 "Can't run container with non-privileged user"
We need to deploy phpMyAdmin on [OpenShift](https://docs.openshift.com/), and this means we cannot perform privileged operations that require `root` permissions.

`chown` requires elevated privileges
---------------

Unfortunately, this image performs `chown` operations in the [entrypoint script](https://github.com/phpmyadmin/docker/blob/master/run.sh#L13-L18), which makes it impossible to run the

[2018-08-20 18:31] ibennetch commented on #187
Hi @bittner and thanks for starting this discussion.

In short, yes we would welcome contributions in this area. Our Docker package was set up in a way that got it working and hasn't gotten a whole lot of attention since then, so there are definitely things that could be improved.

I think your suggestion has a high chance of being merged, and any other ideas you have for improving the Docker impl

[2018-08-21 12:31] bittner commented on #187
I've looked at the setup a bit. I feel you make your lives unnecessarily complicated with the choice of Nginx. With Apache you have a single service already, no need for a Supervisord setup. The performance penalty is not really significant, IMO.

Is there a reason for this choice?

Would you be happy to simplify the setup and switch back to Apache?

[2018-08-21 12:52] nijel commented on #187
Recommended PHP setup for Apache is anyway using fcgi + php-fpm, so whats the difference?

[2018-08-21 16:56] bittner commented on #187
I don't mean to offend anyone, it's just about maintainability. The second most popular Docker image for phpMyAdmin has a far simpler setup (see its [Dockerfile](https://github.com/nazar-pc/docker-phpmyadmin/blob/master/Dockerfile)). What is the reason you have a much more elaborate setup? Isn't this more difficult to manage?

It certainly is more difficult for us to convert to a setup that is [co

[2018-08-22 06:48] nijel commented on #187
Yes it has simpler setup - for example it does not verify signature of downloaded tarball. Our setup also used to be simpler when we used prebuilt PHP instead of building it see https://github.com/phpmyadmin/docker/pull/144.

Anyway I don't have strong opinion on whether to use nginx or Apache.

The originally reported issue is generic to many docker containers and is not at all related to nginx o

[2018-08-24 12:09] nijel commented on #187
Reopening as the issue is still there, it has not disappeared by fixing it in different repository ;-).

[2018-08-28 02:49] m2nlight opened #188 "phpmyadmin docker 4.8.3 is not support mysql_native_password to connect mysql 8?"
The phpmyadmin:latest cann't connect mysql:latest(docker).
The mysql with `mysql_native_password `, and phpmyadmin:4.8.2 is OK.
Maybe, who can give an envionment variable of docker to switch msyql auth plugin?
Thx~

[2018-08-29 22:17] westhouseit opened #189 "413 Request Entity Too Large"
I've tried so many different angles to get this resolved and just can't see what else could be done. Here's my setup:

    docker run -d \
        --name phpmyadmin \
        --restart always \
        -e VIRTUAL_HOST=pma.localhost \
        -e PMA_ARBITRARY=1 \
        -e PMA_ABSOLUTE_URI=http://pma.localhost \
        -v ~/pma/config.user.inc.php:/etc/phpmyadmin/config.user.inc.php \
        php

[2018-08-30 01:44] baotongshi opened #190 "Failed to load phpMyAdmin configuration"
when I start the phpMyAdmin Container, I got the below error
**phpMyAdmin - Error
Failed to load phpMyAdmin configuration (./../etc/phpmyadmin/config.inc.php:3): require(): Failed opening required '/etc/phpmyadmin/config.secret.inc.php' (include_path='.:/usr/local/lib/php')**

I found the access right of the config.secret.inc.php  is not correct, I added the below cmd in run.sh, then build the ima

[2018-08-30 09:33] theblackhole commented on #99
Hi ! I know this issue is quite old but this might be useful in the future :

Here's my working phpMyAdmin + autossh tunnel Docker stack using kingsquare's tunnel image (thanks @nijel !) in order to allow phpmyadmin to connect to a remote server ('myserver' in this example) via ssh.
It forwards the 3306, 3307 and 3308 ports but you can keep the 3306 forward only if you want (it won't conflict with

[2018-09-01 11:27] nijel commented on #189
The limit of the image is supposed to be 512 MB:

https://github.com/phpmyadmin/docker/blob/b1e2062fb4628a595f7dd532b91acd4699654462/etc/nginx.conf#L41

https://github.com/phpmyadmin/docker/blob/b1e2062fb4628a595f7dd532b91acd4699654462/php.ini#L6-L7

[2018-09-01 12:14] westhouseit commented on #189
I can find /etc/nginx.conf via console and it matches your line 41 above. But there's no php.ini at root in the 4.8.2 image. Is it possibly moved somewhere as part of the startup process?

[2018-09-01 12:42] westhouseit commented on #189
Ok, so I think we're getting somewhere now. The 4.8.2 image is missing the php.ini even though it's in the repository commit that's tagged 4.8.2. Adding it manually to the image and restarting it fixes the issue.

This doesn't resolve why versions before 4.8.2 aren't working since they match the repo which shows no php.ini at root.

[2018-09-01 16:05] westhouseit commented on #189
Significant commit: https://github.com/phpmyadmin/docker/commit/b369d770dda59ba8564915ab830d91d32e043254

[2018-09-13 07:11] spawnia opened #192 "Control the entire configuration with an ENV variable"
**Motivation**

I frequently need to change configuration values other then the ones that are currently provided via ENV variables. However, mounting a volume is very inconvenient when deploying the container to a cluster. My solution so far has been to build a seperate image with the configuration baked in.

**Idea**

How about we just allow the user to put in any configuration in a new ENV varia

[2018-09-18 09:51] fvigotti opened #193 "php-fpm crash with "Bus error""
this happens always but only on certain conditions,
using docker 18.03 , and kubernetes 1.11.3 , on ubuntu 18.04
when the container is started from kubernetes , php-fpm crash immediately with core dump  when launched from docker it works ( no special privileges )

anyway the problem is this package : **opcache** , (i've build the image manually from a running kubernetes pod testing php-fpm after e

[2018-09-24 17:46] seanareed commented on #132
Forgive me if this is not related:

I'm trying to add phpMyAdmin to an HTTPS site using the phpmyadmin/phpmyadmin:4.8 image and a docker-compose.yml file.

The Docker Hub page appears to only provide specification for port :80 in the resulting container. As might be expected, adding ports 8080:80 to my docker-compose.yml and appending :8080 to my HTTPS URL (*:443 in Apache VirtualHost) gives me a

[2018-10-12 02:07] mikeevstropov opened #195 "Access denied for user 'root'@'ip'"
[code]
Access by phpmyadmin
[code]
Access by localhost
[code]

[2018-10-12 02:34] mikeevstropov commented on #195
My bad. I had multiple "db" hosts in the same network.

[2018-10-12 02:34] #195 closed

[2018-10-27 07:52] ANASAMIRUL opened #196 "i"
This repository contains only Docker integration of phpMyAdmin.

Please do not report bugs in phpMyAdmin itself here, use
<https://github.com/phpmyadmin/phpmyadmin/issues> instead.

[2018-10-29 10:10] Sispheor commented on #187
Just tested the image nazarpc/phpmyadmin and it works perfectly on Openshift.
Hope this will be back-ported in this repo soon.

[2018-11-10 15:48] svaroqui commented on #18
Hi ,

It does not sound good to use port 80 each docker application should have it's own port.
In some docker service definition i should be able to share network of a top level container with multiple containers pack in a single service. There is a good chance that phpmyadmin shared across services with an existing application web service

What is a common practice is to expose via env variable t

[2018-11-12 11:45] patrickvale commented on #99
Just to add my experience, we've been using [kingsquare/tunnel](https://hub.docker.com/r/kingsquare/tunnel/) to handle connections from our dev environment to various database and other services very successfully for over a year now, the method recommended by @theblackhole works very well for us.

[2018-11-20 01:11] J0WI commented on #56
After messing around with permissions I finally submitted #198.
So the last step is removing nginx and supervisord from this image and using upstream apache/nginx :tada:

[2018-11-22 03:53] yanhuixie opened #199 "Could you please implement the "AllowRoot" parameter?"
Nice job! We have never mede a working phpmyadmin in such a convenient way.
We hope to disallow root log on from web. I think everyone will agree that this is a good practice.
So could you please implement the "AllowRoot" parameter in "docker/etc/phpmyadmin/config.inc.php"?
I'm sure that would be great help.
REF: https://docs.phpmyadmin.net/en/latest/config.html#cfg_Servers_AllowRoot

[2018-12-19 10:42] Coding-Kiwi opened #203 "themes folder mount changed"
In the newest docker release 4.8.4 the themes folder can no longer be mounted to /www/themes/customtheme as specified in the documentation, it has to be /var/www/html/themes/customtheme

[2019-01-02 21:27] ibasaw opened #204 "[compose] Name does not resolve"
docker-compose.yml v2
[code]

[code]

i can browse the login page, when i enter credential root i got this error
My symfony project can use the database with same credentials, so this is not a credentials error

[2019-01-09 20:31] sadmin91 opened #205 "Error when configuring 2FA"
I try to configure 2FA on my Docker installation.

But I receive this error on config page:
`Fatal error: Uncaught Error: Call to undefined method PragmaRX\Google2FA\Google2FA::getQRCodeInline() in /var/www/html/libraries/classes/Plugins/TwoFactor/Application.php:96 Stack trace: #0 /var/www/html/libraries/classes/TwoFactor.php(219): PhpMyAdmin\Plugins\TwoFactor\Application->setup() #1 /var/www/htm

[2019-01-10 08:20] sadmin91 commented on #205
Duplicate with issue [14782](https://github.com/phpmyadmin/phpmyadmin/issues/14782) on phpmyadmin

[2019-01-10 08:20] #205 closed

[2019-01-16 23:05] mredig commented on #132
@seanareed no - this is referring to using ssl to secure the connection between PMA and the sql server itself, you're referring to accessing PMA over a secure connection in your browser.

@nijel +1 on requesting being able to set ssl without having to edit the conf files via a volume or something

[2019-01-18 13:17] danielecr commented on #162
whaaat? is this a solution? remove all containers because of one giving error?
is there something else I can do?
I mean, this error is originated by phpmyadmin, previous configuration or what?
I removed the container by docker rm, is this not enough?
Removing the image? update the image with pull?

[2019-01-18 13:52] danielecr commented on #181
if the file or folder does not exists docker daemon will create that assuming it is a folder, so

[code]
will work if the file ./phpmyadmin/config/config.user.inc.php exists before docker-compose is runned by 'up', and dockerd is directed to run the container that way.

Using

[code]

will replace the container folder /etc/phpmyadmin completely, so no config.inc.php is readed, and config.user.inc.

[2019-01-18 14:53] danielecr opened #207 "page is not served, it just wait forever"
this is the log (docker logs with removed prefix):

[code]

docker runned as

http://localhost:8080 is waiting with no response.
from netstat -tanp the port is opened and listening after start, and it is not listed after stopped the container.

I have no clue about how to solve this issue, I log into container with a sh, run netstat -tanp:

[code]
it looks fine to me.

....
index.html
and it is wo

[2019-01-19 00:30] AkgunFatih commented on #180
but then this happens

Cannot connect: invalid settings.
 mysqli_real_connect(): (HY000/1045): Access denied for user ''@'phpmyadmin.compose_default' (using password: NO)
 phpMyAdmin tried to connect to the MySQL server, and the server rejected the connection. You should check the host, username and password in your configuration and make sure that they correspond to the information given by the a

[2019-01-26 12:18] mikkotol opened #208 "Unable to install PHP Extensions with PECL"
Trying to install redis PHP extension using PECL fails because open_basedir restriction are in effect when using phpmyadmin/phpmyadmin:4.8.5 as a base image.

[code]

Adding all of the directories to open_basedir (php-phpmyadmin.ini) that PECL needs might not be the best idea for security reasons. Maybe different configuration for CLI if possible?

[2019-02-05 15:05] RichPC commented on #170
I'd been using the phpmyadmin package installed by ubuntu apt on 18.04. That version had bugs to do with a count function and parenthesis not closing properly. So I decided to remove the symlink to /var/www/pma and install phpmyadmin by wget download instead, again at /var/www/pma. The site opened but was showing:

and had no css styling applied.

Turned out the ubuntu package had changed the way

[2019-02-09 13:32] romanmm commented on #170
You are absolutely right! The reason of the warning is reverse proxy (in my case, Nginx) that receives HTTPS request but forward the request to PhpMyAdmin as plain HTTP.
I've added this row to environments inside docker-compose.yml that defines PhpMyAdmin:
**PMA_ABSOLUTE_URI: "https://pma.example.com/"**
and HTTP warning has disappeared.

[2019-02-18 20:30] SubrataM3 opened #210 "Nginx reverse proxy to phpmyadmin is not working"
**Docker Image version:**
4.8.5 (using the latest tag)

**Nginx configuration:**
Using the same configuration that is supposed to work as per the comments of other users here.
[code]
**Docker-compose**
I have set correct environment variable using the following URL
`- PMA_ABSOLUTE_URI=https://sub.domain_name.com/phpmyadmin/`

**Issues**

1. The page is not loading correctly (Please check attached

[2019-02-21 17:54] Chrisly3ear commented on #210
Same.

[2019-02-21 18:10] SubrataM3 commented on #210
Hi,

I have actually got this issue fixed. I can explain what was happening.

Here is my updated & working configuration.
[code]

Issue 1 :
Nginx selects "location block with regex" before "location with just prefix path". I had another location block like the following which was basically capturing all other php file request.

As you can see (Image of Issue 1) only PHP files were failing to load

[2019-02-26 13:47] got3nks commented on #166
I'm getting the same issue as OP. Any solution?

[2019-02-28 00:28] chharish opened #211 "SQL Connection over SSL"
I have successfully deployed a phpMyAdmin interface with SSL using dockers (nginx, nginx-gen, letsencrypt) but the SQl server connections are not going through a secure connection. I know the native way to setup secure connection from the command line, but not sure how I can give a command like "mysql -h only-ssl-db.ct5b4uz1gops.eu-central-1.rds.amazonaws.com --ssl-ca=/var/mysql-certs/rds-combined

[2019-02-28 12:16] williamdes commented on #211
@chharish I think this is not implemented on the docker image

cc @ibennetch

[2019-03-22 09:10] spawnia commented on #203
It's not even possible to mount it anymore - as the init process just copies over that location.

Had to `COPY` it in within a Dockerfile.

[2019-03-27 15:02] oda-alexandre opened #213 "phpmyadmin by another server nginx"
Hello, I want to use another container nginx for phpmyadmin but I can not because of rights problems
I do not want to do reverse proxy
I use volume sharing ${HOME}/nginx/html/phpmyadmin:/var/www/html

my docker compose :

## SERVEURS

## php
php:
  container_name: php
  image: php:7.1-fpm
  volumes:
    - ${HOME}/nginx/html:/usr/share/nginx/html:ro
    - ${HOME}/php/security.ini:/usr/local/etc/php

[2019-03-29 07:52] ibennetch opened #214 "Documentation needed for new tags"
It would be great to update the documentation in https://github.com/phpmyadmin/docker/blob/master/README.md and https://github.com/phpmyadmin/phpmyadmin/blob/master/doc/setup.rst#installing-using-docker with information about working with the new tags from #200.

[2019-03-29 08:43] J0WI commented on #214
Some is done in #216

[2019-03-29 14:55] wibbly13 opened #217 "Kubernetes deployment fails to read configs"
Kubernetes deployment fails to read `/etc/phpmyadmin/config.user.inc.php` and `/etc/phpmyadmin/config.secret.inc.php` because their file permissions are 0640. However, when the same image is deployed in docker it works OK, giving the same files permissions of 0644.

Image tag is `latest` (as of now). Also tested with `edge` and `edge-4.8`

**Kubernetes version info:**
[code]

**Docker version info

[2019-03-31 13:49] #213 closed

[2019-04-03 07:03] wibbly13 commented on #217
Running `umask o+r` in the entry point script before both files are created would resolve the issue.

[2019-04-10 21:05] Nimrod-666 opened #218 "Stable version 4.8.5 from january not in latest branch"
Hi,
is there a reason why version 4.8.5 is not included in latest? The version there is 4.8.4 and i'm wondering why it is like that since january, where 4.8.5 was released.

[2019-04-11 00:15] ibennetch commented on #218
I'm a little confused, because I think it is in latest.

I just started a new docker container from the latest tag and my phpMyAdmin is saying it's version 4.8.5.

Unfortunately, I'm not that familiar with Docker to know exactly what could be wrong.

[2019-04-11 15:36] novaknole opened #219 "phpmyadmin docker site can't be reached"
Very frustrating error. I hope you can advise me something.

I removed all images, all containers, made system prune with docker.

Then, I run the following command. I know I am not specifying mysql host and password, but who cares, this still should work or show me main page of phpmyadmin where I can login and it should say mysql can't connect.

`sudo docker run --name adminphp1 -d -p 8000:80 php

[2019-04-12 10:09] erwinvanlun opened #220 "phpmyadmin with https only"
I'm using the phpmyadmin/phpmyadmin package in a docker-compose file for a separate phpmyadmin container.

Goal: As a user, I'd like to access phpmyadmin like this:
https://www.mysite.com:8000
Sidenotes on the goal: Only with SSL to avoid password are being entered on http pages.. On localhost with a self signed certificate, on production with a certbot certificate (stored in a volume).

As far as

[2019-04-14 17:18] dadigi commented on #220
Maybe you just want to expose HTTPS-port only?
[code]

[2019-04-17 03:23] magdsnail commented on #179
you can try it .
add Environment variables summary .  PMA_ABSOLUTE_URI
https://hub.docker.com/r/phpmyadmin/phpmyadmin/

[2019-04-22 12:19] #219 closed

[2019-04-24 16:56] J0WI commented on #56
@nijel @ibennetch @williamdes
I think this is nearly done. But the inclusion request @docker-library can only be done with the support of a representative of @phpmyadmin:
https://github.com/docker-library/official-images/blob/master/NEW-IMAGE-CHECKLIST.md

[2019-04-24 17:16] J0WI commented on #218
`latest` points to `4.8.5` for me.

[2019-04-24 17:37] J0WI commented on #177
This seems to be obsolete.

[2019-05-05 11:27] Nimrod-666 commented on #218
Here is my Compose-File:
![2019-05-05 13_25_51-root@h2817249_ ~_docker_blakylle_de](https://user-images.githubusercontent.com/46351035/57193255-5caa6280-6f39-11e9-9b8e-5eb8754933a0.png)
And here the Version (german language)
![2019-05-05 13_21_31-](https://user-images.githubusercontent.com/46351035/57193256-5caa6280-6f39-11e9-988d-aadba0680128.png)

I did several "docker-compose build --pull" and

[2019-05-05 13:11] J0WI commented on #218
`docker-compose build --pull` has no effect for prebuilt images. Try `docker-compose pull` or `docker pull phpmyadmin/phpmyadmin`.

[2019-05-05 13:20] J0WI commented on #56
@ibennetch would be great if you could fix the automated builds on DockerHub. The current image variants are not built and there are already some pending security updates for PHP and its dependencies.

[2019-05-05 14:07] Nimrod-666 commented on #218
Oh i see! Thank you!

[2019-05-05 14:07] #218 closed

[2019-05-05 14:34] nijel commented on #56
I've fixed wesite/CDN integration to fix build of daily snapshots. I've also pushed new tag to rebuild stable release.

[2019-05-05 14:55] J0WI commented on #56
The tags should be updated as described here:
https://github.com/phpmyadmin/docker/pull/216/files#diff-04c6e90faac2675aa89e2176d2eec7d8

[2019-05-05 15:09] caugner opened #224 "Latest 4.8 images return 502 Bad Gateway"
I run phpmyadmin locally like this (see my [gist](https://gist.github.com/caugner/e1657b18ffe6b82ce0e2c9d9803c07db)):

[code]

Unfortunately, I have been getting `502 Bad Gateway` for 2-3 days when running the latest `4.8` images.

The `4.7` image still works:

[code]

[2019-05-06 09:13] Herz3h commented on #189
I have the same issue, how do I change the upload_max_filesize and post_max_size variables in this docker image ??

[2019-05-22 07:19] Florentin68 commented on #224
Same issue for me behind reverse proxy.
Here are logs:
[code]

[2019-05-22 14:07] williamdes commented on #224
@J0WI `listen = /var/run/php/php-fpm.sock` should be the same in nginx config, right ?

[2019-05-22 15:32] J0WI commented on #224
You cannot use `--network="host"` while already running a service on port 9000.

I think you're referring to the obsolete config. They are not used I just opened #225 to remove them.
The image on DockerHub is still based on the old config here:
https://github.com/phpmyadmin/docker/blob/a11473320065ba65f907257b0a7fbb50a8f87a94/etc/nginx.conf#L75
The socket has been removed in #198.

Once the image

[2019-05-25 09:01] #178 closed

[2019-05-29 22:44] KristianWindsor commented on #138
This feature would be extremely helpful.

Port 80 is the default on many images. In the context of a Kubernetes pod, each container must have a unique port – so I cannot run Nginx and PHPMyAdmin within the same pod.

[2019-05-30 02:45] KristianWindsor commented on #138
[code]
From https://old.reddit.com/r/docker/comments/bula5u/can_i_remap_a_port_in_the_dockerfile/epdoozz/

[2019-05-31 07:44] spark8103 opened #226 "session_start(): Failed to read session data: files (path: /sessions)"
This repository contains only Docker integration of phpMyAdmin.

Please do not report bugs in phpMyAdmin itself here, use
<https://github.com/phpmyadmin/phpmyadmin/issues> instead.

open web is error.
`
Error during session start; please check your PHP and/or webserver log file and configure your PHP installation properly. Also ensure that cookies are enabled in your browser.

session_start(): ope

[2019-05-31 07:51] spark8103 commented on #226
docker info
`Client:
 Version:           18.09.5
 API version:       1.39
 Go version:        go1.10.4
 Git commit:        e8ff056
 Built:             Thu May  9 23:18:36 2019
 OS/Arch:           linux/amd64
 Experimental:      false

Server:
 Engine:
  Version:          18.09.5
  API version:      1.39 (minimum version 1.12)
  Go version:       go1.10.4
  Git commit:       e8ff056
  Built:

[2019-06-03 12:44] jgamblin opened #227 "CVE-2019-5021"
The version of PHPadmin in the docker hub is running Alpine Linux 3.8 and should be rebuilt and pushed back to the hub.

https://alpinelinux.org/posts/Docker-image-vulnerability-CVE-2019-5021.html

`phpmyadmin/phpmyadmin - root:::0::::: - Welcome to Alpine Linux 3.8`

[2019-06-04 21:26] timwsuqld opened #228 "Docker hub not building latest 4.9.x ??"
Not sure why, but Docker Hub hasn't built the latest 4.9 images. Maybe an issue with Github/Docker Hub integration? Or just a missing 4.9.0.1 tag?

[2019-06-04 21:29] williamdes commented on #228
@timwsuqld It would be done soon, I messaged @ibennetch about that :)

[2019-06-04 23:21] ibennetch commented on #228
Thanks for reporting this!

This is a little complicated to resolve. It relates to #200 which removed `Dockerfile` in favor of more specific files for various webservers and PHP integrations. Our current workflow happens to only build off a `./Dockerfile` so I have to do a little work to fix our release process. This probably is the same cause as #227.

[2019-06-07 22:45] ibennetch commented on #228
I've gotten the Docker images updated. These tags are currently available, now including a few new ones:

* `4.9` - the most recent stable phpMyAdmin 4.9.x version, currently 4.9.1
* `edge` - stable phpMyAdmin (currently 4.9.1)
* `latest` - Similar to `edge`, has stable phpMyAdmin with somewhat more stable Dockerfile
* `edge-4.9` - Latest 4.9.x development snapshot (from QA_4_9)
* `fpm` - stable v

[2019-06-07 22:50] #228 closed

[2019-06-08 01:07] ibennetch commented on #227
I believe I have resolved this, please let me know if you can reproduce this. Thank you for reporting this.

[2019-06-08 01:07] #227 closed

[2019-06-12 08:47] johan-smits opened #229 "Docker repo missing version tags"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

The docker repo https://hub.docker.com/r/phpmyadmin/phpmyadmin/tags does not contain all release tags. It only has 4.9 and in the past the minor version was also available.

### Expected behavior

Have a 4.9.0.and a 4.9.0.1 tag

[2019-06-18 10:38] iquito opened #230 "No matching DirectoryIndex / 403 Forbidden error"
When using phpmyadmin/phpmyadmin:latest or phpmyadmin/phpmyadmin:4.9 or phpmyadmin/phpmyadmin:4.8  accessing phpmyadmin via browser is not possible - this is the output from the container with latest:

[code]

And in the browser a 403 Forbidden error appears, so at least index.php seems to be missing in /var/www/html/ or maybe that directory is not correct.

If I use phpmyadmin/phpmyadmin:4.7 ever

[2019-06-19 01:29] ibennetch commented on #230
I'm afraid I'm having trouble reproducing this. What is the exact command you're using to start the container, please?

I've just now successfully connected with
* `docker run --name pma49 -d -e PMA_HOST=192.168.56.2 -p 8091:80 phpmyadmin/phpmyadmin:4.9`
* `docker run --name pmalatest -d -e PMA_HOST=192.168.56.2 -p 8090:80 phpmyadmin/phpmyadmin:latest`

Accessing, of course, http://localhost:8090

[2019-06-19 02:18] ibennetch opened #231 "Discussion: Designate Docker tags moving forward"
We should decide on which tags we'll offer.

I've taken some hints from [Alpine](https://hub.docker.com/_/alpine), [Apache](https://hub.docker.com/_/httpd), [PHP](https://hub.docker.com/_/php), and [WordPress](https://hub.docker.com/_/wordpress) (many as suggested by @J0WI in #200) and have this to propose. Note that, even though currently we're at phpMyAdmin 4.9.0.1, I'm pretending it's 4.9.0 to

[2019-06-19 08:51] iquito commented on #230
I just checked my configuration again (from docker-compose), and the aspect which made it not work in 4.8 and 4.9 was me setting `working_dir`, which was just some leftover configuration from a previous container, which made the container copy the phpmyadmin files to that directory and not /var/www/html/ so Apache did not find any files at the expected location.

Not sure if this is the intentiona

[2019-06-19 16:12] J0WI commented on #231
I'd prefer `fpm` and `fpm-alpine` without the `latest-` prefix to be consistent with other containers.

Once #56 is solved the tags will be generated by #216, but I'm not sure about the `edge` tags. I think it's easier to just mount the sources from https://github.com/phpmyadmin/phpmyadmin

[2019-06-26 10:16] lzjohnny commented on #193
I have the same problem, when I use docker and kubernetes, and enable php opcache and set opcache.huge_code_pages=1 PHP will crash. I have no idea about it.

[2019-07-12 12:29] tenshiAMD commented on #210
@SubrataM3 can you share to us your config file? Thanks in advance.

[2019-07-20 06:26] SubrataM3 commented on #210
I think already shared my config on the above post? which config you are talking about?

[2019-07-20 06:26] #210 closed

[2019-08-08 01:08] ivorscott commented on #108
This functionality works now in the official image by appending _FILE to env vars. Why is this still open? We should probably mention this in the Dockerhub repository as well.

[2019-08-10 05:18] shinebayar-g opened #233 "4.9 image gives 502 bad gateway error when importing database."
Just deployed new mysql and phpmyadmin using docker compose.

When I try to import sqldump file (under 1mb) into new database it gives back **502 bad gateway** error and I'm redirected to `/import.php`. (I'm using nginx reverse proxy in front of phpmyadmin).

If I browse back to phpmyadmin again, it just works normal like nothing happened. Database were imported (possible partially). No error logs

[2019-08-15 12:00] ihattab commented on #132
@seanareed I have the same problem as you
how did you fix it, please ??

[2019-08-22 11:43] judos opened #235 "auto logout"
Hello,

I'm running phpmyadmin to access my local dev database. However it logs me out very frequently (I guess 1440s or something). I've searched everywhere and changed config.user.inc.php to
[code]

But still it seems like it logs me out quite often.

Is there a way to just disable auto logout and keep the cookie for a week or so? It's a DEV db and only ever used on my local machine, so I don't

[2019-08-24 17:37] harshit-saini commented on #170
I am running wamp and I am getting the same error. what should I do

[2019-08-30 15:05] judos commented on #235
I found a workaround how I can stay logged in. Just run the phpmyadmin container with environment vars PMA_USER and PMA_PASSWORD, you will basically stay logged in at any time. (Note: you can NOT switch to another user if you need to do that)

[code]
Or to connect to another server:
[code]

[2019-08-30 15:05] #235 closed

[2019-09-06 14:46] J0WI commented on #231
@williamdes @ibennetch #216 has been merged, so it would be great if you could publish this to the library (#56).

[2019-09-06 17:51] williamdes commented on #204
@ibasaw Please have a look at https://github.com/phpmyadmin/docker/blob/master/docker-compose.testing.yml
We use links but you can use the `PMA_HOST` env variable if the container is in the same network than the database

[2019-09-09 20:28] Dorky106 opened #236 "can't seem to connect"
I'm using Community Applications in unraid to install my apps, no idea if this will make a difference a not figured I'd just toss it in there to be safe.
Using MySQL
For MySQL, just removed the underscores and put new in front of the user and passwords
For PMA, I changed the MySQL_Host to be the same as as the portmappings for mysql, and matched the user and password as the ones put into mysql

I

[2019-09-09 20:42] williamdes commented on #236
@Dorky106 you should have a look to https://github.com/phpmyadmin/phpmyadmin/issues/14220 and close this issue if it is solved by my linked issue :)

[2019-09-13 17:22] sajadghawami opened #237 "Increase max_upload_size"
Hey guys,

i ve been searching for a few hours now how to change the `max_upload_size`, but it does not seem to work.
The size seems to have been changed in the last couple of weeks, because it was almost 512mb before.

I tried changind the sizes in `config.user.inc.php` like:

[code]

But that did not seem to work.

Any help would be very appreciated!

[2019-09-13 18:42] williamdes commented on #237
@J0WI could your changes have introduced this issue ?

[2019-09-13 19:47] bobalazek commented on #237
Yes, but there's a workaround - I experienced the same issue a few minutes ago.

Just add the following to your `Dockerfile`:

[code]

[2019-09-15 14:46] J0WI commented on #237
https://github.com/phpmyadmin/docker/pull/221

[2019-09-15 15:25] sajadghawami commented on #237
I found out that this has been changed in the base-image that is used for this one.

For anyone experiencing the same issue. You can do the following if you are using `docker-compose`:

[code]

Or with `docker run`:

[code]

[2019-09-15 15:25] #237 closed

[2019-09-16 21:03] stefanelul2000 opened #243 "Phpmyadmin Docker configuration"
### Describe the bug

Can't edit config file.

### To Reproduce

Mounting /etc/phpmyadmin/ to a local directory and editing config.user.inc.php file makes phpmyadmin ignore the config parameters in the docker config.

### Expected behavior

After editing config.user.inc.php the ssl error should dissaper and I should be able to I frame phpmyadmin.

[code]

### Server configuration

- Operating syst

[2019-09-25 20:52] #204 closed

[2019-09-26 09:50] kums3570 opened #239 "unable to change import size & cant upload 2GB database"
i Get the below error while importing from command line
ERROR 2006 (HY000) at line 5533: MySQL server has gone away
read unix @->/var/run/docker.sock: read: connection reset by peer

And if i import from phpmyadmin it gives error Nginx gateway error

[2019-09-30 16:10] shinebayar-g commented on #239
Are you getting 502 bad gateway error when importing via phpmyadmin? https://github.com/phpmyadmin/docker/issues/233

[2019-09-30 16:12] shinebayar-g commented on #231
Docker image doesn't have `4.9.0.1` or `4.9.1` tags which is I expected to have there. Having only `4.9` looks incorrect.

[2019-09-30 16:17] shinebayar-g opened #240 "Max upload size settings gone"
Looks like `4.9` version messed up again. `4.8` version had max upload size 512MiB. But `4.9` has `2,048KiB`. Also getting this 502 error everytime I import any database.

![image](https://user-images.githubusercontent.com/3091558/65896839-94caaa00-e3e0-11e9-8665-aa0e8a6f003e.png)
https://github.com/phpmyadmin/docker/issues/233

[2019-09-30 16:56] williamdes commented on #240
@shinebayar-g Thanks for the report, a fix must be done.

[2019-09-30 17:17] williamdes commented on #224
@caugner @Florentin68 Is this issue solved with version 4.9.1 ?

[2019-09-30 17:23] J0WI commented on #231
Tag generation works for me:
[code]
But one of the maintainers (@williamdes @ibennetch) still have to publish this to the library (#56).

[2019-09-30 17:28] williamdes commented on #182
@lukasa1993 what do you want to health check ?
you could use `ChangeLog` file ?

But yes, I think we could add an endpoint

[2019-09-30 17:34] lukasa1993 commented on #182
there is common answer for healthcheck way it comes up in docker ps for status

[2019-09-30 17:38] williamdes commented on #199
The default value is true so I think what you ask is an enhancement, right ?

[2019-09-30 17:42] williamdes commented on #179
You seem to have solved the issue @jn-simonnet
Closing, post here if you did not solve the issue.

[2019-09-30 17:42] #179 closed

[2019-09-30 17:46] williamdes commented on #160
@r3c4ll Is this issue solved ?

I agree, did some formatting to understand the issue.

[2019-09-30 17:47] williamdes commented on #56
@J0WI
 test should be moved here
 docs and examples should be moved here

Is this only files moving in our repo or a PR to docker is needed ?

[2019-09-30 17:48] #177 closed

[2019-09-30 17:50] #208 closed

[2019-09-30 17:55] williamdes commented on #183
@mictadlo Can you please try latest version ?
I can connect to my MariaDB without any errors

[2019-09-30 17:55] J0WI commented on #56
A PR to docker is needed for all further steps.

[2019-09-30 18:01] williamdes commented on #243
Your issue sounds similar to #181

[2019-09-30 18:03] williamdes commented on #181
@danielecr Is this still an issue on latest version ?
Looks like #243

[2019-09-30 18:04] williamdes commented on #220
:ping_pong: what needs to be done on this issue ?

[2019-09-30 18:06] williamdes commented on #193
You could use another variant, have a look at new tags on docker hub https://hub.docker.com/r/phpmyadmin/phpmyadmin/tags

[2019-09-30 18:07] williamdes commented on #207
@danielecr Do you still have this issue ?
It does not seem to be caused by phpMyAdmin

[2019-09-30 18:09] williamdes commented on #203
@spawnia Does the latest version stil require that you add `COPY` ?

[2019-09-30 18:10] #146 closed

[2019-09-30 18:11] williamdes commented on #226
@spark8103 can you provide more details on how you start the docker image ?
docker-compose ?
command line ?

[2019-09-30 18:11] ibennetch commented on #231
Clearly I have missed a step somewhere; I’ll work on this later this evening.

[2019-09-30 18:12] williamdes commented on #185
@baotongshi did you check this was not a permission issue on your side ?

[2019-09-30 18:14] williamdes commented on #230
@iquito so you solved the issue ?

[2019-09-30 18:16] williamdes commented on #126
29bcc43956751085274a1cd5985bdcd76850cea3

Is this issue still up to date ?

[2019-09-30 18:18] williamdes commented on #161
@poolsimon can you try with latest version of the docker image ?

[2019-09-30 18:21] williamdes commented on #125
Since 78e3cb7aba41b233281f81d8b264d95505c43c96 and other commits removed supervisor this issue no longer exists

[2019-09-30 18:21] #125 closed

[2019-09-30 19:26] Florentin68 commented on #224
How shall I do to install this specific version? Is it on Docker Hub?

[2019-09-30 19:38] williamdes commented on #224
@Florentin68 you can use tag 4.9 on docker hub
The specific version does not exist as a tag for now

[2019-10-01 01:57] ibennetch commented on #231
Okay, I've investigated a bit. We don't currently generate tags for patch level releases, and AFAIK have never done so. So 4.9, edge, master, and latest are all appropriate tags, but 4.9.1 doesn't exist (and shouldn't, according to any of our documentation that I'm aware of). This is definitely the appropriate place to suggest making such changes in the future, though.

If I understand correctly,

[2019-10-01 02:34] ibennetch commented on #203
We appear to have moved the location of the web root in the docker image at some point, but failed to update the documentation.

Could you please try again? I've just tested several configuration variations and have had good luck with this so if you're still having trouble, it would be helpful to know more about the exact commands you're using.

[2019-10-01 07:36] kums3570 commented on #239
I m getting the below error
413 Request Entity Too Large

On Mon, Sep 30, 2019 at 9:40 PM Shinebayar G. <notifications@github.com>
wrote:

--
Thanks & Best Regards
kumar

[2019-10-01 13:16] danielecr commented on #181
Sorry, I can not check now, I setted a remind for the next week

[2019-10-01 13:59] iquito commented on #230
Yes, by not defining `working_dir`. If you define `working_dir` (to something other than the default), then it will not work, because phpmyadmin will be copied to that `working_dir` but Apache will not use it.

I did not close this issue because this seems unintended: either `working_dir` should be ignored, or Apache should also use `working_dir`.

[2019-10-02 08:07] 3phreal opened #245 "Question: phpMyAdmin data storage"
I am fairly new to PHPMyAdmin. However I have an instance now up and running connecting to a MySQL server. I have configured PHPMyAdmin storage.

My question is all the changes I do though phpMyAdmin where are they stored?.

My MySQL DB is stored on a docker volume which can be ported however how do i port the settings from PHPMyAdmin ?

Regards

[2019-10-02 10:16] williamdes commented on #245
They are not stored, I think that if you enable tracking on some tables you can have a log of changes

The settings move with the `phpmyadmin` database, expect for `config.inc.php` values

@lem9 Do you agree for the tracking feature ?

[2019-10-02 10:30] 3phreal commented on #245
What about new users and their privilages?

Where does this database reside. With my other SQL databases ?

[2019-10-02 12:29] spawnia commented on #203
Yes, as the themes are not included by default.

[code]

[2019-10-03 10:11] williamdes commented on #245
All this data is in the `mysql` database and will move with the docker volume

[2019-10-03 19:22] stefanelul2000 commented on #243
I've manage to create the config.user.inc.php but if I edit $cfg['Servers'][$i]['ssl_verify'] = false; I am no longer able to access my server. the other config regarding iFraming works without any problems.

[2019-10-14 12:36] Demired opened #248 "Please support arm"
arm
arm
arm

[2019-10-16 13:40] emmanuelkolawole4 commented on #170
hello, i just started using laragon and i'm getting the error:
There is mismatch between HTTPS indicated on the server and client. This can lead to non working phpMyAdmin or a security risk. Please fix your server configuration to indicate HTTPS properly.

please could someone walk me through solving this problem?

[2019-10-16 14:58] williamdes commented on #170
@emmanuelkolawole4 I was thinking you where using docker since you commented on https://github.com/phpmyadmin/docker and not https://github.com/phpmyadmin/phpmyadmin

You should have a look to https://github.com/phpmyadmin/phpmyadmin/issues/14184

[2019-10-16 15:03] emmanuelkolawole4 commented on #170
@williamdes oh alright, i'll do just that. thank you!

[2019-10-16 16:30] Demired opened #250 "I have a small issue.The docker directory structure is too complicated. Why two versions of PHP?"
I think we can optimize it
Make it easy to read

[2019-10-17 07:40] #250 closed

[2019-10-17 18:25] lonix1 opened #252 "fpm-alpine does not work"
The `fpm-alpine` image, which I assume refers to the latest version `4.9`, doesn't work:

Here is a very basic no frills `docker-compose.yml`:

[code]

The app does not load.

If I use tag `latest` (rather than `fpm-alpine`) then it works.

[2019-10-17 18:28] #252 closed, assigned to nobody

[2019-10-18 16:26] lonix1 opened #253 "[Question] Serving fpm-alpine image with nginx"
I am trying to get the `fpm-alpine` image to work with nginx.

`docker-compose.yml`
[code]

`default.conf`
[code]

When I access `http://www.example.com/pma` I get

[The docs](https://docs.phpmyadmin.net/en/latest/setup.html#docker-examples) show examples using traefik and haproxy, *but not for nginx*.

Can someone spot the error in my setup, or does someone have a working example to share?

[2019-10-18 16:42] williamdes commented on #253
@lonix1 try port `9000` on host `phpmyadmin` for `fastcgi_pass` since you are sending the script to the cgi and not to the web server

If it does not work comment back here :)

[2019-10-18 17:26] lonix1 commented on #253
@williamdes Thanks - yes you are right it should be `9000`!

However, it still does not work :-(

`curl http://www.example.com/pma` gives:

[2019-10-18 17:43] williamdes commented on #253
maybe you should change `/var/www/html` to `/usr/src/phpmyadmin`

See: https://github.com/phpmyadmin/docker/blob/master/fpm-alpine/Dockerfile#L77

I assume you have data into the volume `phpmyadmin_data`

https://superuser.com/a/435969/609233
I would write the nginx config block like that
[code]

You are maybe missing the rewrite part since the files are in the root folder and not in `/pma`

[2019-10-18 18:06] lonix1 commented on #253
When I do `docker-compose up` for the first time, it says

Complete! phpMyAdmin has been successfully copied to /var/www/html

That's why I used that path. But even if I use `/usr/src/phpmyadmin` it fails with same error. I checked that there are files in there, looks okay.

I tried the new `location` block also. Same error (file not found).

Does that actually work for you?

[2019-10-18 20:32] williamdes commented on #253
After hours (since my last post) I could not make a rewrite folder that worked.
But root folder works fine.

[code]

[code]

[2019-10-18 20:48] williamdes commented on #253
# Using a proxy

[code]

# Using CGI
Thanks to: https://stackoverflow.com/a/29213330/5155484
[code]

@lonix1 the CGI version is what you want

[2019-10-19 13:04] lonix1 commented on #253
@williamdes wow thanks! I used the "Using CGI" section, and got it working finally, but on the wrong path:

`curl http://www.example.com/pma` gives `404`
but
`curl http://www.example.com/` gives the phpmyadmin login page

---
BTW, I assume your "Using a proxy" section is for the `latest` image, and "Using CGI" is for the `fpm-alpine` and `fpm` images?

[2019-10-19 18:40] williamdes commented on #253
I think you are correct on what you assume

@lonix1 can you paste your final configuration?

I made it work with the `^~` and position can be important from what Internet says

[2019-10-20 07:57] lonix1 commented on #253
Okay I got it to work, thanks to [this](https://stackoverflow.com/a/42467562/9971404)!

No rewriting necessary. Also I did not need to set `PMA_ABSOLUTE_URI`.

[code]

**This should be in [the docs](https://docs.phpmyadmin.net/en/latest/setup.html#docker-examples)**. If someone knows how to do that, please add @williamdes' code for `latest` image and my code for `fpm-alpine` and `fpm` images.

[2019-10-20 07:58] lonix1 commented on #253
@williamdes BTW thanks for taking the time to help me... Appreciated!

[2019-10-20 08:14] williamdes commented on #253
@lonix1 I think it is because all files need to know their base path?

[2019-10-20 09:54] lonix1 commented on #253
@williamdes Yes... so we need to correctly set `SCRIPT_FILENAME`.

[2019-10-20 10:00] williamdes commented on #253
@lonix1 please post the config when you have a working example ;)

[2019-10-20 11:09] lonix1 commented on #253
@williamdes This works for me:

`docker-compose.yml`
[code]

`default.conf`
[code]

Of course, in production, nginx would be separate - either ad hoc container or compose stack or swarm stack (but must be in same docker network).

[2019-10-20 11:18] williamdes commented on #253
@lonix1 Thank you !

From what I understand removing `$document_root` solved the URI issue.

If you want to open a pull-request let me know, if not I will do it

[2019-10-20 11:54] lonix1 commented on #253
I'm not sure how to do that... what I mean is that maybe the *documents site* can have this info...

[2019-10-21 09:26] lonix1 opened #254 "[Question] Should config file be mounted as ro or rw?"
I'm mounting a config file like this:
[code]

It's customary to mount config files as readonly (`ro`).

But when I run it, I get this in the log:

[code]

Why is the config file touched / edited? Is it safe to keep it `ro`, or must I change it to `rw`?

[2019-10-21 09:53] lonix1 opened #255 "[Feature Request] Environment variable INSTALL_DIRECTORY"
The [`docker-entrypoint.sh`](https://github.com/phpmyadmin/docker/blob/master/docker-entrypoint.sh#L22) installs by default into `/var/www/html/` (determined by `$PWD`).

This makes docker config more complicated. For example when using nginx to serve multiple apps, we need to use `/var/www/phpmyadmin` instead. There are workarounds, but it's messy.

Please add a new environment variable, e.g. `IN

[2019-10-21 19:03] #239 closed

[2019-10-21 19:03] #240 closed

[2019-10-21 19:03] #189 closed

[2019-10-21 19:03] #233 closed

[2019-10-22 09:31] lonix1 commented on #159
Agreed! The idea of using docker is to make it automatic and repeatable.

But this problem means there is a manual step in every deployment...

I'm trying to find a workaround using the config file, but haven't managed so far. If someone has a workaround please post here.

[2019-10-22 10:10] lonix1 commented on #159
I found a way to define it in the `config.user.inc.php` file:

[code]

But this is still not perfect, because on first run it still shows the error. But then you can click on "create missing tables" and then it works.

[2019-10-22 16:00] lonix1 commented on #255
The workaround I'm using:
- in phpmyadmin container, I map `phpmyadmin_data:/var/www/html/`
- in nginx container, I map `phpmyadmin_data:/var/www/phpmyadmin/`

[2019-10-24 16:29] Demired commented on #248
Is there anyone pushing the work forward?

If not, leave it to me. I already use it on arm.

[2019-10-24 16:46] williamdes commented on #248
@Demired I refactored the Travis CI file in https://github.com/phpmyadmin/docker/commit/9d1872d75350bf65e5bbb4530e3df5e86511b52c and you can now easily add arm64
But CI fails
If you want to fix it go ahead

[2019-11-22 10:42] deeky666 commented on #228
@ibennetch is there a reason why there are no tags for releases like `4.9.0.1`, `4.9.1` etc. for `4.9` branch?

[2019-11-23 14:02] ibennetch commented on #228
@deeky666 This should be fixed now, there should be a 4.9.2 tag for the release I published yesterday. There's still a manual step that I missed with 4.9.0.1 and 4.9.1, my mistake. Thanks for pointing this out.

[2019-11-25 08:02] johan-smits opened #256 "Missing docker tags of micro version"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://hub.docker.com/r/phpmyadmin/phpmyadmin/tags
2. See that since `4.8.5` there is only a `4.9` tag. No `4.9.2` available.

### Expected behavior

Have also the micro versions in the tags.

[2019-11-25 09:17] deeky666 commented on #228
@ibennetch thanks for looking into this. Unfortunately I still don't see any of those tags on Docker Hub:

![grafik](https://user-images.githubusercontent.com/1411514/69527508-bb363d00-0f6c-11ea-98a7-6b400fdcad65.png)

[2019-11-25 09:29] williamdes commented on #228
#256

[2019-11-25 19:14] aschuch247 commented on #170
It seems the message can be ignored, see phpmyadmin/phpmyadmin#15200.

[2019-11-29 15:26] ibennetch commented on #228
I was incorrect with [my response](https://github.com/phpmyadmin/docker/issues/228#issuecomment-557800320) above about the 4.9.0.1 and 4.9.2 tags; I realized that the '4.9' tag hadn't updated and, when I came back to comment, responded to the wrong question.

So the Docker hub builds are (as far as I can tell) working correctly for the tags we currently advertise. Further discussion about the 'pat

[2019-12-06 10:03] #203 closed

[2019-12-10 03:06] ibennetch commented on #254
I don't know why this is being touched; in the Dockerfile we test if it exists, and if it doesn't, we create it with touch.

I think this is left over code from a long time ago. It was first introduced in 4cadf08f, and there was no error checking in the "include" statement in config.inc.php to test whether or not the config.user.inc.php file exists. I suspect the author touched the file to make su

[2019-12-12 05:52] ibennetch opened #258 "Upgrade PHP version"
I want to upgrade the base images to PHP 7.4.

[2019-12-23 03:35] shinebayar-g commented on #240
![image](https://user-images.githubusercontent.com/3091558/71334232-3b55bf80-2578-11ea-981f-bbc50b15a25d.png)

You sure about that? Just downloaded newer 4.9 image and it's still same.

[2019-12-23 10:12] williamdes commented on #240
As @J0WI said we should not change the value by should provide a ENV value to change it

[2019-12-23 10:30] eriksenonline opened #260 "PMA_HOSTS_FILE in GKE do not work?"
In the documentation, it says we can use _FILE for all variables

I tested this on Kubernetes using PMA_HOSTS_FILE and for some reason, the variables are not read into the configuration. I also tested with PMA_HOST_FILE, this did not work either.

When I test using normal env variables it works but when I try to read from a file it does not work. I did a cat of the file inside the container and th

[2019-12-23 10:47] williamdes commented on #260
Hi

As said in #247 the documentation is wrong and should be fixed by #247
Maybe you can ask on #247 to implement hosts :)

[2019-12-23 11:14] eriksenonline commented on #260
Thanks for that I asked on #247

[2019-12-23 11:14] #260 closed

[2019-12-23 12:26] shinebayar-g commented on #240
@williamdes ah good point. ENV variables now ready to use or is it in progress?

[2019-12-23 13:36] williamdes commented on #245
If this is still an issue pleas comment here :)

[2019-12-23 13:36] #245 closed

[2019-12-23 13:39] williamdes commented on #188
@m2nlight Sorry for the very late response, but we do not manage mysql users creation for the docker image.
Maybe you should ask the mysql docker image to implement it (that would save a lot of time instead of changing plugins manually at first boot)

[2019-12-23 13:39] #188 closed

[2019-12-23 13:40] #183 closed

[2019-12-23 13:42] williamdes commented on #181
@danielecr :ping_pong: did you have time to test ?

[2019-12-23 13:44] williamdes commented on #187
@Sispheor can someone let us know if it is fixed ?
or open a PR ?

[2019-12-23 13:45] williamdes commented on #99
:ping_pong: can I close this issue ?

[2019-12-23 13:47] williamdes commented on #258
Done in #257

[2019-12-23 13:47] #258 closed

[2019-12-23 13:49] williamdes commented on #256
@johan-smits `docker pull phpmyadmin/phpmyadmin:4.9.2-1` or `docker pull phpmyadmin/phpmyadmin:4.9.1`
We fixed that now, thank you for reporting

[2019-12-23 13:50] williamdes commented on #229
Duplicate of #256

[2019-12-23 13:50] #229 closed

[2019-12-23 13:53] williamdes commented on #193
I am closing the issue since it is old
Comment if you think it is still an issue

[2019-12-23 13:53] #193 closed

[2019-12-23 14:00] williamdes commented on #163
@gnumoksha I think you should try to use the latest 4.9 version available using `4.9` tag on docker hub

[2019-12-23 14:02] williamdes commented on #240
@shinebayar-g I would recommend that you subscribe to #261 where I will implement it

[2019-12-23 14:08] williamdes commented on #176
Seems to be fixed

[2019-12-23 14:08] #176 closed

[2019-12-23 14:09] #224 closed

[2019-12-23 14:51] williamdes commented on #166
@got3nks @macwinnie do you still have the issue ?

[2019-12-23 16:51] williamdes commented on #243
#262 will help you when it is merged

[2019-12-23 16:52] #185 closed

[2019-12-23 16:54] williamdes commented on #160
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2019-12-23 16:54] #160 closed

[2019-12-23 16:54] #236 closed

[2019-12-23 17:03] williamdes commented on #153
I followed https://hub.docker.com/_/varnish and has no issue

[2019-12-23 17:13] williamdes commented on #153
[code]

[2019-12-23 17:14] williamdes commented on #153
[code]

[2019-12-23 17:15] #153 closed

[2019-12-23 17:15] williamdes commented on #153
@adixon let me know if I missed something

[2019-12-23 17:22] gnumoksha commented on #163
Ok, thank you. I will close this since I'm not affected by the issue anymore.

[2019-12-23 17:22] #163 closed

[2019-12-23 17:22] got3nks commented on #166
I updated the docker image with

`docker pull phpmyadmin/phpmyadmin`

And the issue seems to be gone, thanks!

[2019-12-23 17:36] #166 closed

[2019-12-23 20:39] williamdes commented on #254
https://github.com/phpmyadmin/docker/blob/7d8a3e5717fd3160a74ce9bb2a28bc7444481347/docker-entrypoint.sh#L45-L47

[2019-12-23 20:41] williamdes commented on #254
`touch: setting times of '/etc/phpmyadmin/config.user.inc.php': Read-only file system`

[2019-12-23 20:42] williamdes commented on #254
@lonix1 I had the issue you reported when mounting a fie that does not exist

[2019-12-24 09:26] lonix1 commented on #254
Glad it was not just me 😄

[2019-12-24 10:13] #139 closed

[2019-12-24 10:13] #192 closed

[2019-12-24 10:26] williamdes commented on #217
@wibbly13 can you open a PR ?

[2019-12-24 10:26] #254 closed

[2019-12-24 10:28] williamdes commented on #126
@emanuelb can you try on latest image since we not not have nginx anymore but apache from the base php image

[2019-12-24 10:28] #126 closed

[2019-12-24 10:30] williamdes commented on #226
@spark8103 Can you send your configuration or command line ?
please check the file permissions for the docker volume

[2019-12-24 10:30] #226 closed

[2019-12-24 10:31] williamdes commented on #243
@stefanelul2000 #262 is now merged, you will be able to use the feature in the next release

[2019-12-24 10:31] #243 closed

[2019-12-24 10:35] williamdes commented on #255
Related to #230

[2019-12-24 10:51] williamdes commented on #255
@J0WI can I ask you some advice on how to implement such a directory change without having to a 3K lines of configuration ?
apache2-foreground seems to want configuration, I was thinking about a symlink

[2019-12-24 11:02] williamdes commented on #199
You can override the configuration using volume mounts or with #262

[2019-12-24 11:04] williamdes commented on #161
@poolsimon you can use #261 `UPLOAD_LIMIT` in the next release

[2019-12-24 11:04] #161 closed

[2019-12-24 12:40] williamdes commented on #240
Implemented in #261 :tada:

[2019-12-24 12:40] williamdes commented on #239
Implemented in #261 :tada:

[2019-12-24 12:40] williamdes commented on #233
Implemented in #261 :tada:

[2019-12-24 12:40] williamdes commented on #189
Implemented in #261 :tada:

[2019-12-24 12:41] williamdes commented on #139
Implemented in #261 :tada:

[2019-12-24 12:43] #207 closed

[2019-12-24 21:20] Anonycoders opened #263 "Incorrect format parameter"
Hi
after upgrading to latest version of phpmyadmin, when trying to import DB from backup files I keep get this error **Incorrect format parameter**
but in version 4.9.2-1 it works and imports DB backup files with no error!

[2019-12-24 21:24] williamdes commented on #263
@Anonycoders can you post a screenshot ?

[2019-12-25 20:46] Anonycoders opened #264 "Error 500 importing Database"
in latest release, when trying to import any database in any size, it returns 500 error

[2019-12-26 10:41] Anonycoders opened #265 "500 Error Importing Database"
After upgrading to phpmyadmin:latest image version, import database returns 500 error for any size of backed up database.
do you have any idea why?

[2019-12-26 16:11] #214 closed

[2019-12-26 16:11] #231 closed

[2019-12-26 16:42] ibennetch commented on #256
This should now be resolved, fixed by #259

[2019-12-26 16:42] ibennetch commented on #229
This should now be resolved, fixed by #259.

[2019-12-26 20:53] danielecr commented on #181
I can test with PMA_ARBITRARY=1 in docker-compose, and it works fine.
What I described there is the normal/wanted behavior of docker daemon: if mount source does not exists, dockerd assumes it is a folder, then it create it. And of course mounting a folder over existing container target folder will hide the original (packed) content of the folder.

Nothing to add from my side, @vladyslavstartsev c

[2019-12-26 21:05] williamdes commented on #181
@danielecr you could maybe be interested by #262 implemented in #262

Since the issue seems solved/nothing more to do I am closing it

[2019-12-26 21:05] #181 closed

[2019-12-27 07:58] Jason-2020 commented on #253
@lonix1 Does nginx server need to have phpmyadmin volume attached to it?
In my case I'd like to use host machine's nginx but don't want to share phpmyadmin docker's volume into host machine.

[2019-12-27 08:04] lonix1 commented on #253
@Jason-2020 From what I remember the alpine image doesn't come with a webserver, that's why you need to use nginx.

If you want phpmyadmin to be completely isolated, then don't use the alpine image. The normal image comes with apache, I think.

[2019-12-27 09:38] williamdes commented on #253
@lonix1 yes, there is an apache version
I think you need to have the volume attached or you will get 404 errors if you do not bypass the file check on the nginx side before sending requests to the fpm server

[2019-12-27 21:06] J0WI commented on #255
It's not necessary to change the `INSTALL_DIRECTORY`.
@lonix1 what is your nginx configuration? You can also change `alias`, `root` or `fastcgi_param  DOCUMENT_ROOT` to serve multiple apps.

[2019-12-28 07:13] lonix1 commented on #255
Yes but then other apps cannot use `/var/www/html/`. In the nginx container only one app can live there.

[2020-01-02 02:04] shinebayar-g opened #266 "4.9.3 version missing"
There isn't `4.9.3` tag available and `4.9` is coming with 4.9.2 version.

[2020-01-02 03:26] ibennetch commented on #266
Thank you for reporting this. I've pushed a change and triggered a rebuild,
which will take a while. I'll check on it again in tomorrow and report back
here what I find.

[2020-01-02 03:26] shinebayar-g commented on #266
Thanks

[2020-01-02 09:50] deeky666 commented on #256
@ibennetch this is happening again for the latest `5.0` release.

[2020-01-02 15:30] ibennetch commented on #256
Indeed, I was tweaking the Docker Hub build rules relating to the changes for #259 and think I missed something. I'll work on it now...

[2020-01-02 19:20] J0WI commented on #255
You can use whatever directory you prefer for nginx. https://github.com/phpmyadmin/docker/issues/255#issuecomment-545033475 is rather a common practice than a workaround.

[2020-01-03 07:40] lonix1 commented on #255
Ok

[2020-01-03 07:40] #255 closed

[2020-01-03 18:32] STaRDoGG opened #267 "docker: Error response from daemon: error creating overlay mount to /var/lib/docker/overlay2/<string-of numbers>fb-init/merged: too many levels of symbolic links."
I'm trying to run this command:

[code]

But I keep getting the error:

Any ideas why?

[2020-01-03 20:13] williamdes commented on #267
@STaRDoGG no idea, the issue is out of the scope of phpMyAdmin

But my advice would be to remove arguments from the command line until the error is not here.
You will then have found the error in your config :)

[2020-01-03 20:57] ibennetch commented on #266
This is resolved now, there's a 4.9.3 tag now and it's pulling the correct version for me.

I changed a lot of the build rules as part of the changes for #259, so please let me know if you see anything else amiss.

[2020-01-03 20:59] ibennetch commented on #256
This should be fixed now. I goofed a bit with the build rules and have resolved that problem. Since I'm adjusting a lot of the rules, please feel free to let me know if you see anything else amiss.

[2020-01-03 20:59] #256 closed

[2020-01-03 20:59] #266 closed

[2020-01-04 16:27] ibennetch commented on #267
I did look in to this, but the best answer I could find on StackOverflow
about these sorts of errors was someone saying essentially "that's one of
the quirks of Docker" — I couldn't find any better solution than that.

If you link fewer -v files does that work?

[2020-01-06 12:26] deeky666 commented on #256
@ibennetch thank you very much!

[2020-01-16 21:30] J0WI commented on #248
See also #56 for `arm32v5`, `arm32v6`, `arm32v7`, `arm64v8`, `i386` and `ppc64le`.

[2020-01-16 21:35] J0WI commented on #56
:ping_pong: @williamdes @ibennetch

[2020-01-16 21:42] williamdes commented on #56
@J0WI can you open the documentation PR so I can open the library one ?

[2020-01-16 21:44] J0WI commented on #56
Sure!
You just have to pipe the output of `generate-stackbrew-library.sh` in `official-images/library/phpmyadmin` for the library.

[2020-01-16 22:31] williamdes commented on #56
Will close it when everything is online, sorry for the open-close noise

[2020-01-16 22:32] williamdes commented on #56
"test should be moved here"
@J0WI is a PR needed ?

[2020-01-16 22:39] J0WI commented on #56
I think this does not make much sense now. This depends on https://github.com/docker-library/official-images/pull/7288, otherwise they will just fail.

[2020-01-17 07:35] STaRDoGG commented on #267
Thanks for looking into this, guys.

I'm still wrestling with this issue:

https://stackoverflow.com/q/59782031/553663

I'm even getting it when I remove all volume mounts. i.e.  just running:

[code]

I only get this issue when trying to run the PHPMyAdmin container.

[2020-01-17 07:50] williamdes commented on #267
I am not sure this issue is for phpMyAdmin
Could you try to run the hello world image using the same command ?

[2020-01-17 08:09] STaRDoGG commented on #267
![image](https://user-images.githubusercontent.com/1524526/72594956-5c3ad780-38ce-11ea-9d84-73367e5809e2.png)

![image](https://user-images.githubusercontent.com/1524526/72594967-64931280-38ce-11ea-8b57-c74f6e0cfa2a.png)

[2020-01-17 08:16] williamdes commented on #267
@J0WI what do you think about this issue ?

[2020-01-17 13:31] J0WI commented on #267
Never heard about it. Is this Windows only?

The hello world image or the ubuntu base image are not comparable. Maybe you can try with `wordpress:apache` or `php:apache`?

[2020-01-18 00:21] STaRDoGG commented on #267
@J0WI AHA! You've hit on something. (But I'm not experienced enough w/docker yet to know what, lol).

![image](https://user-images.githubusercontent.com/1524526/72654658-0e69b200-3956-11ea-9351-91ed1a4dbc30.png)

Yes, I am running Docker Desktop in Win 10 x64, running Linux containers.

[2020-01-18 00:27] J0WI commented on #267
We can't help you here, I suggest that you try moving this issue to https://github.com/docker/for-win or https://github.com/docker-library/php :confused:

[2020-01-18 00:30] STaRDoGG commented on #267
@J0WI ok, thanks. Any ideas though? It seems like you sort of have an idea, based on the suggestion you gave that pointed right to itself.

I'll try the PHP issues area; the Docker issues apparently get ignored by and large:
https://github.com/docker/for-win/issues

[2020-01-29 16:51] SimonTod commented on #101
I'm struggling a lot to find a working configuration to make that work with an apache2 reverse proxy using rewrite module. Anyone would have a solution please ?

[2020-02-09 11:40] mohamedhafezqo commented on #23
Make sure that all services on the same network ;)

[2020-02-11 11:49] salvador-moreno opened #269 "Container shuts down when enabling SSL module in Apache (for HTTPS)"
I want to access the Phpmyadmin container over HTTPS through the port 443. However, when I enable SSL module for Apache and restart the service, the container automatically shuts down with signal Exit 0, and every time I try to start it again, returns Exit 1.

Any ideas on why this is happening? I have seen that openssl is installed in the container.

[2020-02-11 11:57] williamdes commented on #269
@salvador-moreno can you post your command line or docker-compose file ?

[2020-02-11 12:48] salvador-moreno commented on #269
Inside the running container, instead of restarting the service (`service apache2 restart`), just reloading the configuration does the job and doesn't kill the container (`service apache2 reload`).

Furthermore, the apache ssl module can be enabled within the Dockerfile before creating the container that there is no need for restart/reload (`RUN a2enmod ssl`).

[2020-02-11 12:48] #269 closed

[2020-02-14 21:42] ThibaultVlacich commented on #253
I'm trying to serve PHPMyAdmin on the root of a subdomain using Nginx, to avoid having two web-server running (I use Nginx for the rest of my application, so having Apache just for PMA is not really optimal...), but I cannot get it working.

I followed the conversation here, but all I get is a "404 not found", and this in the Nginx logs:

[code]

Here's what I have for now for my Nginx config:
[co

[2020-02-14 21:45] williamdes commented on #253
Hi @ThibaultVlacich
Maybe you should follow https://github.com/phpmyadmin/docker/issues/253#issuecomment-543938409 and use `fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;`

Did this work ?

[2020-02-15 14:36] ThibaultVlacich commented on #253
It... worked...

Swear I tried it already but I guess not. Thanks @williamdes.

[2020-02-17 10:38] ecdlguy commented on #138
@KristianWindsor: Thanks for the info, It's not really a persistent solution because you have to do that after every container update.

[2020-02-17 12:44] williamdes commented on #138
But we do not have a nginx version anymore, right?

[2020-02-17 12:46] ecdlguy commented on #138
So it's easier to add this functionality using environment variables?

[2020-02-17 13:08] williamdes commented on #138
https://github.com/phpmyadmin/docker/blob/master/apache/Dockerfile

I have to look if it is possible with the image php gives us

[2020-02-21 01:38] ice0072 opened #270 "Can not increase size of upload and put ssl"
I can not put ssl also the size of upload file is 2mb which can not change

[2020-02-21 06:48] williamdes commented on #270
Hi @ice0072
https://github.com/phpmyadmin/docker#environment-variables-summary

You will be able to change the upload size

[2020-02-23 20:07] #270 closed

[2020-02-25 12:23] khushbupatel24 opened #271 "can't connect to local mysql from the phpmyadmin container"
I have separate configuration of mysql database locally on the host machine. But I want to access it via docker service (web access).

Here is the "docker-compose.yml" file, in which I have configured phpmyadmin service to access local mysql db.

[code]

**backend.env**

[code]

When I try to login, I got connection timeout error as below.

![image](https://user-images.githubusercontent.com/153619

[2020-02-25 12:37] williamdes commented on #271
Hi @khushbupatel24

Do you expect the phpmyadmin docker instance to access the database server on your machine ?
(and that the DB server is not a docker instance)

[2020-02-25 12:38] williamdes commented on #271
https://docs.docker.com/compose/compose-file/#network-configuration-reference

You may be looking for `network: host`

[2020-02-25 12:39] khushbupatel24 commented on #271
@williamdes ,

yes, database is hosted locally on machine outside the docker.

[2020-02-25 12:39] khushbupatel24 commented on #271
where should I specify this?

[2020-02-25 12:40] williamdes commented on #271
Okay, so what you are asking to docker is "impossible" without network mode set to host

[code]

I hope you do not have any server running on the port 80 of your machine, if you have please stop it before

[2020-02-25 12:41] williamdes commented on #271
I did not test the file above but from the documentation is seems right

[2020-02-25 12:53] khushbupatel24 commented on #271
what does it means when we define "network: host" ?

It is out of context question, but I am confuse about it.

[2020-02-25 12:57] williamdes commented on #271
It means that docker will not create a virtual network between containers and will use the network of your machine

[2020-02-29 20:50] lusu007 commented on #142
Did someone find a solution for this problem?
I'm experiencing the same error at the moment and cant find a working solution for it...

[2020-02-29 20:57] williamdes commented on #142
@lusu007 can you post a screenshot and your configuration ?

[2020-02-29 20:58] lusu007 commented on #142
This is my config.user.inc.php:
`$i = 1;
$cfg['Servers'][$i]['ssl'] = true;
$cfg['Servers'][$i]['ssl_key'] = '/etc/client-certs/client-key.pem';
$cfg['Servers'][$i]['ssl_cert'] = '/etc/client-certs/client-cert.pem';
$cfg['Servers'][$i]['ssl_ca'] = '/etc/client-certs/ca.pem';
$cfg['Servers'][$i]['ssl_ca_path'] = '/etc/client-certs/';
$cfg['Servers'][$i]['ssl_ciphers'] = 'DHE-RSA-AES256-SHA';`

A co

[2020-02-29 21:12] williamdes commented on #142
Can you post the exact error ?

[2020-02-29 21:13] lusu007 commented on #142
This is the error i'm getting at the moment. :)
![image](https://user-images.githubusercontent.com/10341994/75615155-a0adca00-5b40-11ea-83d9-4b897aae5e6d.png)

[2020-02-29 21:17] williamdes commented on #142
Oh, it seems not related to the use of SSL or not
Please check your username and password

You should try https://docs.phpmyadmin.net/en/latest/config.html#cfg_Servers_auth_type
`$cfg['Servers'][$i]['auth_type'] = 'config'` and set https://docs.phpmyadmin.net/en/latest/config.html#cfg_Servers_user and password

[2020-02-29 21:22] lusu007 commented on #142
Now my config looks like the following, but I get the same error as well.
[code]

Could this have something todo that I'm using MariaDB and Docker and not plain MySQL?

[2020-02-29 21:23] williamdes commented on #142
I am not sure, and without the ssl block does it work ?

[2020-02-29 21:25] lusu007 commented on #142
It works when I remove the ```REQUIRE SSL``` privilige from the user. No matter wether I put the ssl block in my config or not.

[2020-02-29 21:29] williamdes commented on #142
This is quite an interesting point !
And you can confirm that all files exist and have permissions in so the web-server can read them ?

What version are you using ?
Maybe try the latest one available on our [website](https://www.phpmyadmin.net/downloads/)

My intuition would make me remove `ssl_ciphers`

Also when you remove `REQUIRE SSL` from the user and login to phpMyAdmin do you see ssl as en

[2020-02-29 21:33] lusu007 commented on #142
I gave all *.pem file 644 permissions. I mapped a volume with all my certificates into the phpMyAdmin container. And I can access them via ```docker exec -it phpmyadmin bash```.

I'm using the latest version of the official Docker container from DockerHub.

When I remove the specified ciphers nothing changes. I added them while debugging.

When I remove ```REQUIRE SSL``` from the user phpMyAdmin s

[2020-02-29 21:36] williamdes commented on #142
Thank you for all the details
May be related to https://github.com/phpmyadmin/docker/issues/132
Can you open an issue on https://github.com/phpmyadmin/docker/issues and post the configuration, docker configuration and screenshot so I can investigate and help you ?

[2020-02-29 21:38] lusu007 commented on #142
Yeah of course. 😄
Give me a second. 😉

[2020-02-29 21:48] lusu007 opened #272 "Can't login to phpMyAdmin while setting REQUIRE SSL"
Regarding to our conversation [here ](https://github.com/phpmyadmin/docker/issues/142)I open this issue.

I'm trying to login to my phpMyAdmin instance with a user using ```REQUIRE SSL```, but I get an error message as the result. The error message can be seen in the included Screenshot.
![image](https://user-images.githubusercontent.com/10341994/75615499-b7562000-5b44-11ea-9d12-646bf41d0855.png)